{% extends "tool_calculate_template/layout_check_gia.html" %}

{% block title %} Check Giá {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
<script type=text/javascript>
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<div class="right_col" role="main" style="">
    <div class="row tile_count" style="">
        <!-- GIA THI TRUONG -->
            {% include 'gia_thi_truong/check_gia_thi_truong.html' %}
        <!-- GIA UY BAN -->
            {% include 'gia_thi_truong/check_gia_uy_ban.html' %}          
        <!-- THONG TIN QUY HOACH -->
            {% include 'gia_thi_truong/thong_tin_quy_hoach.html' %}
        <!-- ROA THO CU -->
            {% include 'roa/roa.html' %}
        <!-- ROA NGHI DUONG -->
            {% include 'roa/roa_nghi_duong.html' %}
        <!-- ROA BIET THU -->
            {% include 'roa/roa_biet_thu.html' %}
        <!-- ROA CHUNG CU -->
            {% include 'roa/roa_chung_cu.html' %}
        <!-- ROA MIN DU AN -->
            {% include 'roa/roa_min_du_an.html' %}
        <!-- ROA MIN THO CU -->
            {% include 'roa/roa_min_tho_cu.html' %}
    </div>

    <!-- SET VALUE NONE -->
    <script type="text/javascript">
        // $("[id^='tinh_thanh']").selectpicker("refresh").selectpicker("val","")
        $("[id^='vi_tri_']").selectpicker("refresh").selectpicker("val","")
        $("#du_an_cc_thi_truong").selectpicker("refresh").selectpicker("val","")
        $("#du_an_biet_thu").selectpicker("refresh").selectpicker("val","")
        $("#du_an_nghi_duong").selectpicker("refresh").selectpicker("val","")
    </script>  
</div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
    <!-- AXAX BDS THO CU -->
    <script type="text/javascript">
        $(`#hinh_dang`).selectpicker("refresh").selectpicker("val","")
        // FUNCTION EMPTY FIELD
        function empty_field() {
            $("#dien_tich_dat_thi_truong").val("")
            $("#do_rong_mat_tien_thi_truong").val("")
            $("#do_rong_ngo_thi_truong").val("")
            $("#kcach_truc_chinh_thi_truong").val("")
            $(`#hinh_dang`).selectpicker("val","").selectpicker("refresh")              
            $("#dac_diem_vi_tri_thi_truong").text("")
            $("#gia_sau").text("")
        }

        // QUAN HUYEN AJAX
            $(document).on('change','[id^="tinh_thanh_thi_truong"]', function() {
                let tinh_thanh_id = $(this).attr("id")
                let quan_huyen_id = `quan_huyen_${tinh_thanh_id.split("tinh_thanh_")[1]}`
                let ten_duong_id = `ten_duong_${tinh_thanh_id.split("tinh_thanh_")[1]}`
                let tuyen_duong_id = `tuyen_duong_${tinh_thanh_id.split("tinh_thanh_")[1]}`
                let vi_tri_bds_id = `vi_tri_bds_${tinh_thanh_id.split("tinh_thanh_")[1]}`
                // EMPTY FIELD ONCHANGE
                empty_field()
                // AJAX
                $.getJSON($SCRIPT_ROOT + '/ajax_get_option_quan_huyen', {
                    tinh_thanh: $(this).val(),
                }, function(data) {                     
                    // empty field                        
                    $(`#${quan_huyen_id}`).empty().prop("disabled",true)
                    $(`#${ten_duong_id}`).empty().prop("disabled",true)
                    $(`#${tuyen_duong_id}`).empty().prop("disabled",true)
                    $(`#${vi_tri_bds_id}`).empty().prop("disabled",true)
                    $(`[id^="gia_tri_tai_san_"]`).empty()
                    $("#div_select_loi_the").empty()
                    $("#div_select_bat_loi").empty()
                    $.each(data.result, function(i,r) {
                        $(`#${quan_huyen_id}`).append(`<option>${r}</option>`).prop("disabled",false)
                    })
                    $(`#${quan_huyen_id}`).selectpicker("refresh").selectpicker("val","")
                    $(`#${ten_duong_id}`).selectpicker("refresh").selectpicker("val","")
                    $(`#${tuyen_duong_id}`).selectpicker("refresh").selectpicker("val","")
                    $(`#${vi_tri_bds_id}`).selectpicker("refresh").selectpicker("val","")
                })
                return false;
            })
        // DOAN DUONG AJAX
            $(document).on('change','[id^="quan_huyen_thi_truong"]', function() {
                let quan_huyen_id = $(this).attr("id")
                let tinh_thanh_id = `tinh_thanh_${quan_huyen_id.split("quan_huyen_")[1]}`
                let ten_duong_id = `ten_duong_${quan_huyen_id.split("quan_huyen_")[1]}`
                let tuyen_duong_id = `tuyen_duong_${quan_huyen_id.split("quan_huyen_")[1]}`
                let vi_tri_bds_id = `vi_tri_bds_${quan_huyen_id.split("quan_huyen_")[1]}`
                empty_field()
                // AJAX
                $.getJSON($SCRIPT_ROOT + '/ajax_get_option_duong_pho', {
                    tinh_thanh: $(`#${tinh_thanh_id}`).val(),
                    quan_huyen: $(this).val(),
                }, function(data) { 
                    $(`#${ten_duong_id}`).empty().prop("disabled",true)
                    $(`#${tuyen_duong_id}`).empty().prop("disabled",true)
                    $(`#${vi_tri_bds_id}`).empty().prop("disabled",true)
                    $(`[id^="gia_tri_tai_san_"]`).empty()
                    $("#div_select_loi_the").empty()
                    $("#div_select_bat_loi").empty()
                    $.each(data.result, function(i,r) {
                        $(`#${ten_duong_id}`).append(`<option>${r}</option>`).prop("disabled",false)
                    })
                    $(`#${ten_duong_id}`).selectpicker("refresh").selectpicker("val","")
                    $(`#${tuyen_duong_id}`).selectpicker("refresh").selectpicker("val","")
                    $(`#${vi_tri_bds_id}`).selectpicker("refresh").selectpicker("val","")
                });
                return false;
            })
        // TUYEN DUONG AJAX
            $(document).on('change','[id^="ten_duong_thi_truong"]', function() {
                let ten_duong_id = $(this).attr("id")
                let tinh_thanh_id = `tinh_thanh_${ten_duong_id.split("ten_duong_")[1]}`
                let quan_huyen_id = `quan_huyen_${ten_duong_id.split("ten_duong_")[1]}`
                let tuyen_duong_id = `tuyen_duong_${ten_duong_id.split("ten_duong_")[1]}`
                let vi_tri_bds_id = `vi_tri_bds_${ten_duong_id.split("ten_duong_")[1]}`
                empty_field()
                // AJAX
                $.getJSON($SCRIPT_ROOT + '/ajax_get_option_tuyen_duong', {
                    tinh_thanh: $(`#${tinh_thanh_id}`).val(),
                    quan_huyen: $(`#${quan_huyen_id}`).val(),              
                    ten_duong: $(this).val(),
                }, function(data) { 
                    $(`#${tuyen_duong_id}`).empty().prop("disabled",true)
                    $(`#${vi_tri_bds_id}`).empty().prop("disabled",true)
                    $(`[id^="gia_tri_tai_san_"]`).empty()
                    $("#div_select_loi_the").empty()
                    $("#div_select_bat_loi").empty()
                    $.each(data.result, function(i,r) {
                        $(`#${tuyen_duong_id}`).append(`<option>${r}</option>`).prop("disabled",false)
                    })
                    $(`#${tuyen_duong_id}`).selectpicker("refresh").selectpicker("val","")
                    $(`#${vi_tri_bds_id}`).selectpicker("refresh").selectpicker("val","")
                });
                return false;
            })
        // VI TRI BDS AJAX
            $(document).on('change','[id^="tuyen_duong_thi_truong"]', function() {
                let tuyen_duong_id = $(this).attr("id")
                let tinh_thanh_id = `tinh_thanh_${tuyen_duong_id.split("tuyen_duong_")[1]}`
                let quan_huyen_id = `quan_huyen_${tuyen_duong_id.split("tuyen_duong_")[1]}`
                let ten_duong_id = `ten_duong_${tuyen_duong_id.split("tuyen_duong_")[1]}`
                let vi_tri_bds_id = `vi_tri_bds_${tuyen_duong_id.split("tuyen_duong_")[1]}`
                empty_field()
                // AJAX
                $.getJSON($SCRIPT_ROOT + '/ajax_get_option_vi_tri_bds', {
                    tinh_thanh: $(`#${tinh_thanh_id}`).val(),
                    quan_huyen: $(`#${quan_huyen_id}`).val(),
                    ten_duong: $(`#${ten_duong_id}`).val(),            
                    tuyen_duong: $(this).val(),
                }, function(data) {
                    $(`#${vi_tri_bds_id}`).empty().prop("disabled",true)
                    $(`[id^="gia_tri_tai_san_"]`).empty()
                    $("#div_select_loi_the").empty()
                    $("#div_select_bat_loi").empty()
                    $.each(data.result, function(i,r) {
                        $(`#${vi_tri_bds_id}`).append(`<option>${r}</option>`).prop("disabled",false)
                    })
                    $(`#${vi_tri_bds_id}`).selectpicker("refresh").selectpicker("val","")
                });
                return false;
            })
    </script>
    <!-- AJAX BDS CAN HO -->
    <script type="text/javascript">
        // GET TEN TOA NHA
        $(document).on('change','[id^="du_an_cc_thi_truong"]', function() {
            $(`#div_ma_can_cc_thi_truong`).css('display', 'none') 
            $(`#div_dien_tich_cc_thi_truong`).css('display', 'none') 
            $.getJSON($SCRIPT_ROOT + '/ajax_get_option_du_an_can_ho', {            
                ten_du_an: $(this).val(),
            }, function(data) { 
                $(`#toa_nha_cc_thi_truong`).empty().prop("disabled",true)
                $(`#tang_cc_thi_truong`).empty().prop("disabled",true)
                $(`#ma_can_cc_thi_truong`).empty().prop("disabled",true)
                $.each(data.result, function(i,r) {
                    $(`#toa_nha_cc_thi_truong`).append(`<option>${r}</option>`).prop("disabled",false)
                })
                $(`#toa_nha_cc_thi_truong`).selectpicker("refresh").selectpicker("val","")
                $(`#tang_cc_thi_truong`).selectpicker("refresh").selectpicker("val","")
                $(`#ma_can_cc_thi_truong`).selectpicker("refresh").selectpicker("val","")
            });
            return false;
        })
        // GET SO TANG NHA
            $(document).on('change','[id^="toa_nha_cc_thi_truong"]', function() {
                $(`#div_ma_can_cc_thi_truong`).css('display', 'none') 
                $(`#div_dien_tich_cc_thi_truong`).css('display', 'none') 
                $.getJSON($SCRIPT_ROOT + '/ajax_get_option_tang_can_ho', { 
                    ten_du_an: $("#du_an_cc_thi_truong").val(),
                    ten_toa_nha: $(this).val(),
                }, function(data) { 
                    $(`#tang_cc_thi_truong`).empty().prop("disabled",true)
                    $(`#ma_can_cc_thi_truong`).empty().prop("disabled",true)
                    $.each(data.result, function(i,r) {
                        $(`#tang_cc_thi_truong`).append(`<option>${r}</option>`).prop("disabled",false)
                    })
                    $(`#tang_cc_thi_truong`).selectpicker("refresh").selectpicker("val","")
                    $(`#ma_can_cc_thi_truong`).selectpicker("refresh").selectpicker("val","")
                });
                return false;
            })
        // GET MA CAN
            $(document).on('change','[id^="tang_cc_thi_truong"]', function() {
                $.getJSON($SCRIPT_ROOT + '/ajax_get_option_ma_can_ho', { 
                    ten_du_an: $("#du_an_cc_thi_truong").val(),
                    ten_toa_nha: $("#toa_nha_cc_thi_truong").val(),
                    so_tang: $(this).val(),
                }, function(data) { 
                    $(`#ma_can_cc_thi_truong`).empty().prop("disabled",true)
                    if (data.result[0] == 'NULL') {
                        $(`#div_ma_can_cc_thi_truong`).css('display', 'none')
                        $(`#dien_tich_cc_thi_truong`).val('')

                        $(`#div_dien_tich_cc_thi_truong`).fadeIn("slow")
                    }else {
                        $(`#div_dien_tich_cc_thi_truong`).css('display', 'none')                        
                        $.each(data.result, function(i,r) {
                            $(`#ma_can_cc_thi_truong`).append(`<option>${r}</option>`).prop("disabled",false)
                        })
                        $(`#ma_can_cc_thi_truong`).selectpicker("refresh").selectpicker("val","")
                        $(`#div_ma_can_cc_thi_truong`).fadeIn("slow")
                    }  
                });
                return false;
            })
        // GET VALUE
            $(document).on('click','#get_result_chung_cu', function() {
                $.getJSON($SCRIPT_ROOT + '/ajax_get_option_gia_can_ho', { 
                    ten_du_an: $("#du_an_cc_thi_truong").val(),
                    ten_toa_nha: $("#toa_nha_cc_thi_truong").val(),
                    so_tang: $("#tang_cc_thi_truong").val(),
                    ma_can: $("#ma_can_cc_thi_truong").val(),
                    dien_tich: $("#dien_tich_cc_thi_truong").val(),
                }, function(data) { 
                        console.log(data)
                        $("#ket_qua_chung_cu_id").text(data.new_id)
                        $("#ket_qua_chung_cu_ngay_khoi_tao").text(data.ngay_khoi_tao)
                        $("#ket_qua_chung_cu_ten_du_an").text(data.ten_du_an)
                        $("#ket_qua_chung_cu_ten_toa").text(data.ten_toa_nha)
                        $("#ket_qua_chung_cu_so_tang").text(data.so_tang)
                        if(data.ma_can == '') {
                            $("#ket_qua_chung_cu_ma_can").prop('style', 'display:none !important')
                            $("#label_ket_qua_chung_cu_ma_can").prop('style', 'display:none !important')
                        }else {
                            $("#ket_qua_chung_cu_ma_can").prop('style', 'display:inline-block !important')
                            $("#label_ket_qua_chung_cu_ma_can").prop('style', 'display:inline-block !important')
                            $("#ket_qua_chung_cu_ma_can").text(data.ma_can)
                        }
                        $("#ket_qua_chung_cu_dia_chi_du_an").text(data.dia_chi.dia_chi)
                        $("#ket_qua_chung_cu_dien_tich").text(data.dien_tich + ' m2')
                        $("#ket_qua_chung_cu_loai_dien_tich").text(data.loai_dien_tich)
                        $("#ket_qua_chung_cu_don_gia").text(dot_number(Math.round(data.don_gia)) + ' VNĐ')
                        $("#ket_qua_chung_cu_tong_gia").text(dot_number(Math.round(data.tong_gia)) + ' VNĐ')
                        $("#ket_qua_chung_cu").click()
                        $(`#idts_roa_chung_cu`).prepend(`<option>${data.new_id}</option>`)
                        $(`#idts_roa_chung_cu`).selectpicker("refresh").selectpicker("val", "")
                    }).done(function() {
                        render_id_ticket()
                })  
                return false;
            })
    </script>
    <!-- AJAX BDS BIET THU -->
    <script type="text/javascript">
        // GET TEN DUONG
            $(document).on('change','[id^="du_an_biet_thu"]', function() {
                $(`#div_ma_can_biet_thu`).css('display', 'none') 
                $(`#div_dien_tich_dat_biet_thu`).css('display', 'none')
                $(`#div_dien_tich_ctxd_biet_thu`).css('display', 'none')
                $.getJSON($SCRIPT_ROOT + '/ajax_get_option_ten_duong_biet_thu', { 
                    ten_du_an: $("#du_an_biet_thu").val(),
                }, function(data) { 
                    $(`#duong_nha_biet_thu`).empty().prop("disabled",true)
                    $(`#loai_nha_biet_thu`).empty().prop("disabled",true)
                    $(`#ma_can_biet_thu`).empty().prop("disabled",true)            
                    $.each(data.result, function(i,r) {
                        $(`#duong_nha_biet_thu`).append(`<option>${r}</option>`).prop("disabled",false)
                    })
                    $(`#duong_nha_biet_thu`).selectpicker("refresh").selectpicker("val","")
                    $(`#loai_nha_biet_thu`).selectpicker("refresh").selectpicker("val","")
                    $(`#ma_can_biet_thu`).selectpicker("refresh").selectpicker("val","")
                });
                return false;
            })
        // GET LOAI NHA
            $(document).on('change','[id^="duong_nha_biet_thu"]', function() {
                $(`#div_ma_can_biet_thu`).css('display', 'none') 
                $(`#div_dien_tich_dat_biet_thu`).css('display', 'none')
                $(`#div_dien_tich_ctxd_biet_thu`).css('display', 'none')
                $.getJSON($SCRIPT_ROOT + '/ajax_get_option_tang_biet_thu', { 
                    ten_du_an: $("#du_an_biet_thu").val(),
                    ten_duong: $("#duong_nha_biet_thu").val(),
                }, function(data) { 
                    $(`#loai_nha_biet_thu`).empty().prop("disabled",true)
                    $(`#ma_can_biet_thu`).empty().prop("disabled",true)             
                    $.each(data.result, function(i,r) {
                        $(`#loai_nha_biet_thu`).append(`<option>${r}</option>`).prop("disabled",false)
                    })
                    $(`#loai_nha_biet_thu`).selectpicker("refresh").selectpicker("val","")
                    $(`#ma_can_biet_thu`).selectpicker("refresh").selectpicker("val","")
                });
                return false;
            })
        // GET MA CAN
            $(document).on('change','[id^="loai_nha_biet_thu"]', function() {
                $.getJSON($SCRIPT_ROOT + '/ajax_get_option_ma_biet_thu', { 
                    ten_du_an: $("#du_an_biet_thu").val(),
                    ten_duong: $("#duong_nha_biet_thu").val(),
                    ten_tang: $(this).val(),
                }, function(data) {
                    console.log(data.result)
                    $(`#ma_can_biet_thu`).empty().prop("disabled",true)
                    if (data.result[0] == 'NULL') {
                        $(`#div_ma_can_biet_thu`).css('display', 'none')
                        $(`#dien_tich_dat_biet_thu`).val('')
                        $(`#div_dien_tich_dat_biet_thu`).fadeIn("slow")
                        $(`#dien_tich_ctxd_biet_thu`).val('')
                        $(`#div_dien_tich_ctxd_biet_thu`).fadeIn("slow")
                    }else {
                        $(`#div_dien_tich_dat_biet_thu`).css('display', 'none')
                        $(`#div_dien_tich_ctxd_biet_thu`).css('display', 'none')                    
                        $.each(data.result, function(i,r) {
                            $(`#ma_can_biet_thu`).append(`<option>${r}</option>`).prop("disabled",false)
                        })
                        $(`#ma_can_biet_thu`).selectpicker("refresh").selectpicker("val","")
                        $(`#div_ma_can_biet_thu`).fadeIn("slow")
                    }
                })
                return false;
            })
        // GET VALUE
            $(document).on('click','#get_result_biet_thu', function() {
                $.getJSON($SCRIPT_ROOT + '/ajax_get_option_gia_biet_thu', { 
                    ten_du_an: $("#du_an_biet_thu").val(),
                    ten_duong: $("#duong_nha_biet_thu").val(),
                    ten_tang: $("#loai_nha_biet_thu").val(),
                    ma_can: $("#ma_can_biet_thu").val(),
                    dien_tich_dat: $("#dien_tich_dat_biet_thu").val(),
                    dien_tich_san_xay_dung: $("#dien_tich_ctxd_biet_thu").val(),
                }, function(data) {
                    $("#result_biet_thu").css("display", "")
                    console.log(data.result)
                    $("#ket_qua_biet_thu_dia_chi_du_an").text(data.dia_chi)
                    if($.isNumeric(data.tong_gia_tri_xay_tho)  ) {
                        $("#ket_qua_biet_thu_tong_gia_xay_tho").text(dot_number(Math.round(data.tong_gia_tri_xay_tho)) + ' VNĐ')
                    }else {
                        $("#ket_qua_biet_thu_tong_gia_xay_tho").text(data.tong_gia_tri_xay_tho)
                    }
                    if($.isNumeric(data.tong_gia_tri_hoan_thien)  ) {
                        $("#ket_qua_biet_thu_tong_gia_hoan_thien").text(dot_number(Math.round(data.tong_gia_tri_hoan_thien)) + ' VNĐ')
                    }else {
                        $("#ket_qua_biet_thu_tong_gia_hoan_thien").text(data.tong_gia_tri_hoan_thien)
                    }
                    if(data.ma_can == '') {
                        $("#ket_qua_biet_thu_ma_can").prop('style', 'display:none !important')
                        $("#label_ket_qua_biet_thu_ma_can").prop('style', 'display:none !important')
                    }else {
                        $("#ket_qua_biet_thu_ma_can").prop('style', 'display:inline-block !important')
                        $("#label_ket_qua_biet_thu_ma_can").prop('style', 'display:inline-block !important')
                        $("#ket_qua_biet_thu_ma_can").text(data.ma_can)
                    }
                    $("#ket_qua_biet_thu_id").text(data.new_id)
                    $("#ket_qua_biet_thu_ngay_khoi_tao").text(data.ngay_khoi_tao)
                    $("#ket_qua_biet_thu_ten_du_an").text(data.ten_du_an)
                    $("#ket_qua_biet_thu_ten_toa_duong").text(data.ten_duong)
                    $("#ket_qua_biet_thu_loai_nha").text(data.ten_tang)
                    $("#ket_qua_biet_thu_ma_can").text(data.ma_can)
                    $("#ket_qua_biet_thu_dien_tich_dat").text(data.dien_tich_dat + ' m2')
                    $("#ket_qua_biet_thu_dien_tich_san").text(data.dien_tich_san_xay_dung + ' m2')
                    if(data.don_gia_dat != 'Không xác định'){
                        $("#ket_qua_biet_thu_don_gia_dat").text(dot_number(Math.round(data.don_gia_dat)) + ' VNĐ')
                    }else {
                        $("#ket_qua_biet_thu_don_gia_dat").text(data.don_gia_dat)
                    }
                    if(data.don_gia_ctxd != 'Không xác định'){
                        $("#ket_qua_biet_thu_don_gia_ctxd").text(dot_number(Math.round(data.don_gia_ctxd)) + ' VNĐ')
                    }else {
                        $("#ket_qua_biet_thu_don_gia_ctxd").text(data.don_gia_ctxd)
                    }
                    $(`#idts_roa_biet_thu`).prepend(`<option>${data.new_id}</option>`)
                    $(`#idts_roa_biet_thu`).selectpicker("refresh").selectpicker("val", "")
                    $("#ket_qua_biet_thu").click()
                }).done(function() {
                        render_id_ticket()
                    })  
                return false;
            })
    </script>

    <!-- AJAX BDS NGHI DUONG -->
    <script type="text/javascript">
        // GET TEN DUONG
            $(document).on('change','[id^="du_an_nghi_duong"]', function() {
                $.getJSON($SCRIPT_ROOT + '/ajax_get_option_ten_duong_nghi_duong', { 
                    ten_du_an: $("#du_an_nghi_duong").val(),
                }, function(data) { 
                    $(`#duong_nha_nghi_duong`).empty().prop("disabled",true)
                    $(`#loai_nha_nghi_duong`).empty().prop("disabled",true)
                    $(`#ma_can_nghi_duong`).empty().prop("disabled",true)            
                    $.each(data.result, function(i,r) {
                        $(`#duong_nha_nghi_duong`).append(`<option>${r}</option>`).prop("disabled",false)
                    })
                    $(`#duong_nha_nghi_duong`).selectpicker("refresh").selectpicker("val","")
                    $(`#loai_nha_nghi_duong`).selectpicker("refresh").selectpicker("val","")
                    $(`#ma_can_nghi_duong`).selectpicker("refresh").selectpicker("val","")
                });
                return false;
            })
            // GET LOAI NHA
                $(document).on('change','[id^="duong_nha_nghi_duong"]', function() {
                    $.getJSON($SCRIPT_ROOT + '/ajax_get_option_tang_nghi_duong', { 
                        ten_du_an: $("#du_an_nghi_duong").val(),
                        ten_duong: $("#duong_nha_nghi_duong").val(),
                    }, function(data) { 
                        $(`#loai_nha_nghi_duong`).empty().prop("disabled",true)
                        $(`#ma_can_nghi_duong`).empty().prop("disabled",true)             
                        $.each(data.result, function(i,r) {
                            $(`#loai_nha_nghi_duong`).append(`<option>${r}</option>`).prop("disabled",false)
                        })
                        $(`#loai_nha_nghi_duong`).selectpicker("refresh").selectpicker("val","")
                        $(`#ma_can_nghi_duong`).selectpicker("refresh").selectpicker("val","")
                    });
                    return false;
                })
                // GET MA CAN
                    $(document).on('change','[id^="loai_nha_nghi_duong"]', function() {
                        $.getJSON($SCRIPT_ROOT + '/ajax_get_option_ma_nghi_duong', { 
                            ten_du_an: $("#du_an_nghi_duong").val(),
                            ten_duong: $("#duong_nha_nghi_duong").val(),
                            ten_tang: $(this).val(),
                        }, function(data) { 
                            $(`#ma_can_nghi_duong`).empty().prop("disabled",true)
                            $.each(data.result, function(i,r) {
                                $(`#ma_can_nghi_duong`).append(`<option>${r}</option>`).prop("disabled",false)
                            })
                            $(`#ma_can_nghi_duong`).selectpicker("refresh").selectpicker("val","")
                        });
                        return false;
                    })
                // GET VALUE
                    $(document).on('click','#get_result_nghi_duong', function() {
                        $.getJSON($SCRIPT_ROOT + '/ajax_get_option_gia_nghi_duong', { 
                            ten_du_an: $("#du_an_nghi_duong").val(),
                            ten_duong: $("#duong_nha_nghi_duong").val(),
                            ten_tang: $("#loai_nha_nghi_duong").val(),
                            ma_can: $("#ma_can_nghi_duong").val(),
                        }, function(data) {
                            $("#result_nghi_duong").css("display", "")
                            $("#ket_qua_nghi_duong_dia_chi_du_an").text(data.dia_chi)
                            if($.isNumeric(data.tong_gia_tri_xay_tho)  ) {
                                $("#ket_qua_nghi_duong_tong_gia_xay_tho").text(dot_number(Math.round(data.tong_gia_tri_xay_tho)) + ' VNĐ')
                            }else {
                                $("#ket_qua_nghi_duong_tong_gia_xay_tho").text(data.tong_gia_tri_xay_tho)
                            }
                            if($.isNumeric(data.tong_gia_tri_hoan_thien)  ) {
                                $("#ket_qua_nghi_duong_tong_gia_hoan_thien").text(dot_number(Math.round(data.tong_gia_tri_hoan_thien)) + ' VNĐ')
                            }else {
                                $("#ket_qua_nghi_duong_tong_gia_hoan_thien").text(data.tong_gia_tri_hoan_thien)
                            }
                            $("#ket_qua_nghi_duong_id").text(data.new_id)
                            $("#ket_qua_nghi_duong_ngay_khoi_tao").text(data.ngay_khoi_tao)
                            $("#ket_qua_nghi_duong_ten_du_an").text(data.ten_du_an)
                            $("#ket_qua_nghi_duong_ten_toa_duong").text(data.ten_duong)
                            $("#ket_qua_nghi_duong_loai_nha").text(data.ten_tang)
                            $("#ket_qua_nghi_duong_ma_can").text(data.ma_can)
                            $("#ket_qua_nghi_duong_dien_tich_dat").text(data.dien_tich_dat + ' m2')
                            $("#ket_qua_nghi_duong_dien_tich_san").text(data.dien_tich_san_xay_dung + ' m2')
                            if(data.don_gia_dat != 'Không xác định'){
                                $("#ket_qua_nghi_duong_don_gia_dat").text(dot_number(Math.round(data.don_gia_dat)) + ' VNĐ')
                            }else {
                                $("#ket_qua_nghi_duong_don_gia_dat").text(data.don_gia_dat)
                            }
                            if(data.don_gia_ctxd != 'Không xác định'){
                                $("#ket_qua_nghi_duong_don_gia_ctxd").text(dot_number(Math.round(data.don_gia_ctxd)) + ' VNĐ')
                            }else {
                                $("#ket_qua_nghi_duong_don_gia_ctxd").text(data.don_gia_ctxd)
                            }
                            $(`#idts_roa_nghi_duong`).prepend(`<option>${data.new_id}</option>`)
                            $(`#idts_roa_nghi_duong`).selectpicker("refresh").selectpicker("val", "")
                            $("#ket_qua_nghi_duong").click()
                        }).done(function() {
                                render_id_ticket()
                            })  
                        return false;
                    })
    </script>
    <script type="text/javascript">
        // RENDER TICKET
        function render_id_ticket() {
            $.getJSON($SCRIPT_ROOT + '/ajax_render_id_ticket', { 
            }, function(data) { 
                $(`#search_ticket`).empty()
                $.each(data.result, function(i, r) {
                    $(`#search_ticket`).append(`<option>${r}</option>`)
                })
                $(`#search_ticket`).selectpicker("refresh")
            })
        }
    </script>
{% endblock javascripts %}
