<style type="text/css">
    .bootstrap-select .dropdown-toggle:focus {outline: none !important;}
    hr {margin-bottom: 13px; margin-top: 13px;}
</style>
<script type=text/javascript>
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>
<div class="nav_menu">
    <nav>
        <div class="nav toggle">
            <!-- <a id="menu_toggle_lg"><i class="fa fa-bars"></i></a> -->
            <a id="menu_toggle_m" onclick="openNav()"><i class="fa fa-bars"></i></a>
            <div style="margin-left: 15vw;outline: none;">
                <select class="selectpicker" data-live-search="true" title="Tìm kiếm" id="search_ticket"  data-size="20">
                    {% for r in Id_ticket %}
                    <option>{{r}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>

        <ul class="nav navbar-nav navbar-right">
            <li class="">
               <a href="/logout"><i class="fa fa-sign-out"></i><span class="top_nav_text"> Log Out</span></a>          
            </li>
            <li class="">
                <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <i class="fa fa-user">&nbsp;</i>{{session.username}}
                    <span class=" fa fa-angle-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-usermenu pull-right">
                    <li><a href="/user/profile"><i style="font-size: 150%" class="ion-android-person pull-right"></i> Profile </a></li>            
                    <li><a href="/user/query_history"><i style="font-size: 150%" class="ion-social-buffer pull-right"></i> Query History </a></li>
                    {% if session['role'] == 'Admin' %}
                        <li><a href="/user/dashboard"><i style="font-size: 130%" class="ion-podium pull-right"></i> Dashboard</a></li>
                    {% endif %}
                    <li><a href="/user/changepass"><i style="font-size: 150%; " class="ion-ios-locked pull-right"></i> Change password </a></li>
                </ul>
            </li>            
        </ul>
    </nav>
</div>

<!-- FUSHION CHART -->
    <script type="text/javascript" src="\static\charts\js\fusioncharts.js"></script>
    <script type="text/javascript" src="\static\charts\js\fusioncharts.charts.js"></script>
    <script type="text/javascript" src="\static\charts\js\thememint.js"></script>
<!-- MODAL THONG TIN QUY HOACH -->
    <button type="button" id="ket_qua_quy_hoach" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modal_ket_qua_quy_hoach" style="display: none;">Open btl2</button>
    <div class="modal fade" id="modal_ket_qua_quy_hoach" role="dialog">
        <div class="modal-dialog modal-lg" style="margin-top: 5vh;" id="modal_quy_hoach1">
            <div class="modal-content">
                <div class="modal-header" style="text-align:center;background-color: #901e1d;">
                    <button type="button" class="close" data-dismiss="modal" style="outline: none;color: white !important;font-size: 200% !important;opacity: 0.8;">&times;</button>
                    <div style="font-weight: bold;color: white; font-size: 120%">THÔNG TIN QUY HOẠCH</div>
                </div>
                <div class="modal-footer" style="text-align:left;color: black">
                    <label class="inline_label_sm label_custom">ID: </label>
                    <label class="inline_label_md label_value label_custom" id="ket_qua_quy_hoach_id"></label>
                    <label class="inline_label_sm label_custom">Ngày khởi tạo: </label>
                    <label class="inline_label_md label_value label_custom" id="ket_qua_quy_hoach_ngay_khoi_tao"></label>
                    <hr>
                    <label class="inline_label_lg label_custom label_text">I. QUY HOẠCH TỔNG THỂ THEO QUẬN/HUYỆN: </label>
                    <div id="container" style="margin: 0 auto; text-align: center;"></div>
                    <hr>
                    <label class="inline_label_lg label_custom label_text">II. QUY HOẠCH CHI TIẾT THEO TUYẾN ĐƯỜNG: </label>
                    <hr>
                    <label class="inline_label_sm">Địa chỉ: </label>
                    <label class="inline_label_lg label_value label_custom" id="ket_qua_quy_hoach_dia_chi"></label>
                    <hr>
                    <label style="display: none !important;" class="inline_label_lg" for="quy_hoach_chua_xac_dinh" id="label_quy_hoach_chua_xac_dinh">Thông tin quy hoạch: </label>
                    <label style="display: none;" class="inline_label_lg label_value label_custom" id="quy_hoach_chua_xac_dinh"></label>
                    <hr id="hr_quy_hoach_chua_xac_dinh" style="display: none;">
                    <label class="inline_label_lg" for="quy_hoach_hien_huu" id="label_quy_hoach_hien_huu">Quy hoạch mở đường hiện hữu: </label>
                    <label class="inline_label_lg label_value label_custom" id="quy_hoach_hien_huu"></label>
                    <hr id="hr_quy_hoach_hien_huu">
                    <label class="inline_label_lg" for="quy_hoach_moi" id="label_quy_hoach_moi">Quy hoạch mở đường mới: </label>
                    <label class="inline_label_lg label_value label_custom" id="quy_hoach_moi"></label>
                    <hr id="hr_quy_hoach_moi">
                    <label class="inline_label_lg" for="quy_hoach_thoat_lu" id="label_quy_hoach_thoat_lu">Quy hoạch hành lang thoát lũ: </label>
                    <label class="inline_label_lg label_value label_custom" id="quy_hoach_thoat_lu"></label>
                    <hr id="hr_quy_hoach_thoat_lu">
                    <label class="inline_label_lg" for="quy_hoach_cong_trinh" id="label_quy_hoach_cong_trinh">Quy hoạch liên quan đến các công trình công cộng, công trình Nhà nước: </label>
                    <label class="inline_label_lg label_value label_custom" id="quy_hoach_cong_trinh"></label>                   
                </div>
                <div class="modal-footer" style="text-align:center;color: black">              
                    <button onclick="takeScreenShot($('#ket_qua_quy_hoach_id').text())" class="btn btn-danger">Lưu kết quả</button>
                </div>
            </div>
        </div>
    </div>

<!-- TTQH -->
    <script type="text/javascript">
        function chart(data, thanh_pho, quan_huyen) {
            FusionCharts.ready(function () {
                var revenueChart = new FusionCharts({
                    type: 'pie2d',
                    renderAt: 'container',
                    width: $("#modal_ket_qua_quy_hoach").width()*0.39,
                    height: $("#modal_ket_qua_quy_hoach").height()*0.3,
                    dataFormat: 'json',
                    dataSource: {
                        "chart": {
                            "caption": `${quan_huyen}, ${thanh_pho}`,
                            "captionPadding": "-20",
                            "chartLeftMargin": "10",
                            "chartTopMargin": "10",
                            "chartRightMargin": "10",
                            "chartBottomMargin": "10",
                            "paletteColors": "#a6001a, #ffab00, #e06000, #00477e",
                            "showPercentValues": "1",
                            "startingAngle" : "60",
                            "decimals": "1",
                            "canvasPadding": "0",
                            // "useDataPlotColorForLabels": "1",
                            "showToolTip": "0",
                            "showLegend":"1",
                            "minimiseWrappingInLegend" : "0",
                            "interactiveLegend": "1",
                            "legendPosition": "right",
                            "legendIconScale": "1",
                            "labelFontSize": "15",

                            //Smart line cosmetics
                            "smartLineColor": "#000000",
                            "smartLineThickness": "1",
                            "smartLineAlpha": "75",
                            "showplotBorder": "1",
                            "showLabels": "0    " ,
                            "showValues": "1",

                            
                            //Theme
                            "theme": "fint",
                            "bgColor": "white",  
                        },
                        "data": data
                    }
                })
                function rend_clbk() {
                    revenueChart.render('container', undefined, callBack)
                }
                function callBack() {
                    $("[class$='-creditgroup']").remove()
                }
                rend_clbk()
            })
        }
    </script>
    <script type="text/javascript">
        var width_screen = $(window).width()
        var ket_qua_tho_cu = document.getElementById("modal_ket_qua_quy_hoach")
        var takeScreenShot = function(id_quy_hoach) {
            html2canvas(ket_qua_tho_cu, {
                onrendered: function (canvas) {
                    var tempcanvas=document.createElement('canvas')
                    var scr_shot_width = $("#modal_ket_qua_quy_hoach").width()
                    var scr_shot_height = $("#modal_ket_qua_quy_hoach").height()
                    tempcanvas.width = scr_shot_width
                    tempcanvas.height = scr_shot_height - 50
                    var context=tempcanvas.getContext('2d')
                    context.drawImage(canvas, 10, 0, scr_shot_width, scr_shot_height)
                    var link = document.createElement("a")
                    link.href = tempcanvas.toDataURL('image/jpg')
                    $('<img src="' + tempcanvas.toDataURL('image/jpg') + '" />').appendTo('#main-container');
                    link.download = `${id_quy_hoach}.jpg`
                    link.click()
                }
            });
        }
    </script>

<!-- MODAL KET QUA THO CU -->
    <button type="button" id="ket_qua_tho_cu" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modal_ket_qua_tho_cu" style="display: none;">Open Modal</button>
    <div class="modal fade" id="modal_ket_qua_tho_cu" role="dialog">
        <div class="modal-dialog modal-lg modal_ket_qua">
            <div class="modal-content ">
                <div class="modal-header" style="text-align:center;background-color: #901e1d;">
                    <button type="button" class="close" data-dismiss="modal" style="outline: none;color: white !important;font-size: 200% !important;opacity: 0.8;">&times;</button>
                    <div style="font-weight: bold;color: white; font-size: 150%">BẤT ĐỘNG SẢN ĐẤT THỔ CƯ</div>
                </div>
                <div class="modal-footer" style="text-align:left;color: black">  
                    <label class="inline_label_sm label_custom">ID: </label>
                    <label class="inline_label_md label_value" id="ket_qua_tho_cu_id"></label>
                    <label class="inline_label_sm label_custom">Ngày khởi tạo: </label>
                    <label class="inline_label_md label_value" id="ket_qua_tho_cu_ngay_khoi_tao"></label>
                    <hr>
                    <label class="inline_label_sm label_custom">Địa chỉ: </label>
                    <label class="inline_label_xl label_value" id="ket_qua_tho_cu_dia_chi"></label>
                    <hr>
                    <label class="inline_label_sm label_custom">Vị trí: </label>
                    <label class="inline_label_md label_value" id="ket_qua_tho_cu_vi_tri"></label>                   
                    <label class="inline_label_sm label_custom">Đặc điểm vị trí: </label>
                    <label class="inline_label_md label_value" id="ket_qua_tho_cu_dd_vi_tri"></label>
                    <label class="inline_label_sm label_custom">Diện tích: </label>
                    <label class="inline_label_md label_value" id="ket_qua_tho_cu_dien_tich"></label>                    
                    <label class="inline_label_sm label_custom">Mặt tiền: </label>
                    <label class="inline_label_md label_value" id="ket_qua_tho_cu_mat_tien"></label>
                    <label class="inline_label_sm label_custom">Hình dạng: </label>
                    <label class="inline_label_md label_value" id="ket_qua_tho_cu_hinh_dang"></label>                    
                    <label class="inline_label_sm label_custom">Độ rộng ngõ: </label>
                    <label class="inline_label_md label_value" id="ket_qua_tho_cu_do_rong_ngo"></label>
                    <label class="inline_label_sm label_custom">Khoảng cách đến trục chính: </label>
                    <label class="inline_label_md label_value" id="ket_qua_tho_cu_kcach_truc_chinh"></label>
                    <hr>
                    <label class="inline_label_sm label_custom">Loại nhà: </label>
                    <label class="inline_label_xl label_value" id="ket_qua_tho_cu_loai_nha"></label>
                    <label class="inline_label_sm label_custom">Thời gian sử dụng: </label>
                    <label class="inline_label_md label_value" id="ket_qua_tho_cu_thoi_gian_su_dung"></label>                    
                    <label class="inline_label_sm label_custom">Diện tích sàn xây dựng: </label>
                    <label class="inline_label_md label_value" id="ket_qua_tho_cu_dien_tich_san_xd"></label>
                    <hr>
                    <label class="inline_label_sm label_custom">Yếu tố lợi thế: </label>
                    <label class="inline_label_md label_value" id="ket_qua_tho_cu_loi_the">
                    </label>                    
                    <label class="inline_label_sm label_custom">Yếu tố bất lợi: </label>
                    <label class="inline_label_md label_value" id="ket_qua_tho_cu_bat_loi"></label>
                    <hr style="border-bottom: 1px solid #901e1d;">
                    <label class="inline_label_sm label_custom">Đơn giá đất trước điều chỉnh: </label>
                    <label class="inline_label_md label_value" id="ket_qua_tho_cu_gia_truoc"></label>                   
                    <label class="inline_label_sm label_custom">Đơn giá đất sau điều chỉnh: </label>
                    <label class="inline_label_md label_value" id="ket_qua_tho_cu_gia_sau"></label>                   
                    <label class="inline_label_sm label_custom">Tỷ lệ chênh lệch: </label>                   
                    <label class="inline_label_md label_value" id="ket_qua_tho_cu_ti_le"></label>
                    <label class="inline_label_sm label_custom">Tổng giá trị đất tham khảo: </label>
                    <label class="inline_label_md label_value" id="ket_qua_tho_cu_tong_gia"></label>
                    <hr>
                    <label class="inline_label_sm label_custom">Đơn giá CTXD: </label>
                    <label class="inline_label_md label_value" id="ket_qua_tho_cu_gia_ctxd"></label>                    
                    <label class="inline_label_sm label_custom">Tổng giá trị CTXD: </label>                   
                    <label class="inline_label_md label_value" id="ket_qua_tho_cu_tong_gia_ctxd"></label>
                    <hr>
                    <label class="inline_label_sm label_custom">Tổng giá trị tài sản: </label>                   
                    <label class="inline_label_md label_value" id="ket_qua_tho_cu_tong_gia_tai_san"></label>
                </div>
                <div class="modal-footer" style="text-align:center;color: black">               
                    <button onclick="takeScreenShot2($('#ket_qua_tho_cu_id').text())" style="" class="btn btn-danger">Lưu kết quả</button>  
                </div>
            </div>
        </div>
    </div>

<!-- MODAL KET QUA CHUNG CU -->
    <button type="button" id="ket_qua_chung_cu" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modal_ket_qua_chung_cu" style="display: none;">Open  l</button>
    <div class="modal fade" id="modal_ket_qua_chung_cu" role="dialog">
            <div class="modal-dialog modal-lg modal_ket_qua">
                <div class="modal-content ">
                    <div class="modal-header" style="text-align:center;background-color: #901e1d;">
                        <button type="button" class="close" data-dismiss="modal" style="outline: none;color: white !important;font-size: 200% !important;opacity: 0.8;">&times;</button>
                        <div style="font-weight: bold;color: white; font-size: 150%">BẤT ĐỘNG SẢN CHUNG CƯ</div>
                    </div>
                    <div class="modal-footer" style="text-align:left;color: black">
                        <label class="inline_label_sm label_custom">ID: </label>
                        <label class="inline_label_md label_value" id="ket_qua_chung_cu_id"></label>
                        <label class="inline_label_sm label_custom">Ngày khởi tạo: </label>
                        <label class="inline_label_md label_value" id="ket_qua_chung_cu_ngay_khoi_tao"></label>
                        <hr>
                        <label class="inline_label_sm label_custom">Tên dự án: </label>
                        <label class="inline_label_md label_value" id="ket_qua_chung_cu_ten_du_an"></label>
                        <label class="inline_label_sm label_custom">Địa chỉ dự án: </label>
                        <label class="inline_label_md label_value" id="ket_qua_chung_cu_dia_chi_du_an"></label>
                        <hr>
                        <label class="inline_label_sm label_custom">Tòa: </label>
                        <label class="inline_label_md label_value" id="ket_qua_chung_cu_ten_toa"></label>
                        <label class="inline_label_sm label_custom">Tầng: </label>
                        <label class="inline_label_md label_value" id="ket_qua_chung_cu_so_tang"></label>
                        <hr>
                        <label class="inline_label_sm label_custom" id="label_ket_qua_chung_cu_ma_can">Mã căn: </label>
                        <label class="inline_label_md label_value" id="ket_qua_chung_cu_ma_can"></label>
                        <label class="inline_label_sm label_custom">Diện tích: </label>
                        <label class="inline_label_md label_value" id="ket_qua_chung_cu_dien_tich"></label>
                        <hr>
                        <label class="inline_label_sm label_custom">Loại diện tích: </label>
                        <label class="inline_label_md label_value" id="ket_qua_chung_cu_loai_dien_tich"></label>
                        <hr style="border-bottom:  1px solid #901e1d;">
                        <label class="inline_label_sm label_custom">Đơn giá: </label>
                        <label class="inline_label_md label_value" id="ket_qua_chung_cu_don_gia"></label>
                        <label class="inline_label_sm label_custom">Tổng giá trị: </label>
                        <label class="inline_label_md label_value" id="ket_qua_chung_cu_tong_gia"></label>
                    </div>
                    <div class="modal-footer" style="text-align:center;color: black">              
                        <button onclick="takeScreenShot_cc($('#ket_qua_chung_cu_id').text())" style="" class="btn btn-danger">Lưu kết quả</button>
                    </div>
                </div>
            </div>
    </div>

<!-- MODAL KET QUA BIET THU -->
    <button type="button" id="ket_qua_biet_thu" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modal_ket_qua_biet_thu" style="display: none;">Open btl</button>
    <div class="modal fade" id="modal_ket_qua_biet_thu" role="dialog">
        <div class="modal-dialog modal-lg modal_ket_qua">
            <div class="modal-content ">
                <div class="modal-header" style="text-align:center;background-color: #901e1d;">
                    <button type="button" class="close" data-dismiss="modal" style="outline: none;color: white !important;font-size: 200% !important;opacity: 0.8;">&times;</button>
                    <div style="font-weight: bold;color: white; font-size: 150%">BẤT ĐỘNG SẢN SHOPHOUSE - BIỆT THỰ LIỀN KỀ</div>
                </div>
                <div class="modal-footer" style="text-align:left;color: black">
                    <label class="inline_label_sm label_custom">ID: </label>
                    <label class="inline_label_md label_value" id="ket_qua_biet_thu_id"></label>
                    <label class="inline_label_sm label_custom">Ngày khởi tạo: </label>
                    <label class="inline_label_md label_value" id="ket_qua_biet_thu_ngay_khoi_tao"></label>
                    <hr>
                    <label class="inline_label_sm label_custom">Tên dự án: </label>
                    <label class="inline_label_md label_value" id="ket_qua_biet_thu_ten_du_an"></label>
                    <label class="inline_label_sm label_custom">Địa chỉ dự án: </label>
                    <label class="inline_label_md label_value" id="ket_qua_biet_thu_dia_chi_du_an"></label>
                    <hr>
                    <label class="inline_label_sm label_custom">Đường\Dãy\Khu: </label>
                    <label class="inline_label_md label_value" id="ket_qua_biet_thu_ten_toa_duong"></label>
                    <label class="inline_label_sm label_custom">Loại nhà: </label>
                    <label class="inline_label_md label_value" id="ket_qua_biet_thu_loai_nha"></label>
                    <hr>
                    <label class="inline_label_sm label_custom" id="label_ket_qua_biet_thu_ma_can">Mã căn: </label>
                    <label class="inline_label_md label_value" id="ket_qua_biet_thu_ma_can"></label>
                    <hr style="border-bottom: 1px solid #901e1d;">
                    <label class="inline_label_sm label_custom">Diện tích đất: </label>
                    <label class="inline_label_md label_value" id="ket_qua_biet_thu_dien_tich_dat"></label>                    
                    <label class="inline_label_sm label_custom">Diện tích sàn xây dựng: </label>
                    <label class="inline_label_md label_value" id="ket_qua_biet_thu_dien_tich_san"></label>                    
                    <hr>
                    <label class="inline_label_sm label_custom">Đơn giá đất: </label>
                    <label class="inline_label_md label_value" id="ket_qua_biet_thu_don_gia_dat"></label>                    
                    <label class="inline_label_sm label_custom">Đơn giá CTXD: </label>
                    <label class="inline_label_md label_value" id="ket_qua_biet_thu_don_gia_ctxd"></label>                    
                    <hr>
                    <label class="inline_label_sm label_custom">Tổng giá trị xây thô: </label>
                    <label class="inline_label_md label_value" id="ket_qua_biet_thu_tong_gia_xay_tho"></label>
                    <label class="inline_label_sm label_custom">Tổng giá trị hoàn thiện: </label>
                    <label class="inline_label_md label_value" id="ket_qua_biet_thu_tong_gia_hoan_thien"></label>
                </div>
                <div class="modal-footer" style="text-align:center;color: black">              
                    <button onclick="takeScreenShot_bt($('#ket_qua_biet_thu_id').text())" style="" class="btn btn-danger">Lưu kết quả</button>  
                </div>
            </div>
        </div>
    </div>

<!-- MODAL KET QUA NGHI DUONG -->
    <button type="button" id="ket_qua_nghi_duong" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modal_ket_qua_nghi_duong" style="display: none;">Open btl</button>
    <div class="modal fade" id="modal_ket_qua_nghi_duong" role="dialog">
        <div class="modal-dialog modal-lg modal_ket_qua">
            <div class="modal-content ">
                <div class="modal-header" style="text-align:center;background-color: #901e1d;">
                    <button type="button" class="close" data-dismiss="modal" style="outline: none;color: white !important;font-size: 200% !important;opacity: 0.8;">&times;</button>
                    <div style="font-weight: bold;color: white; font-size: 150%">BẤT ĐỘNG SẢN BIỆT THỰ NGHỈ DƯỠNG</div>
                </div>
                <div class="modal-footer" style="text-align:left;color: black">
                    <label class="inline_label_sm label_custom">ID: </label>
                    <label class="inline_label_md label_value" id="ket_qua_nghi_duong_id"></label>
                    <label class="inline_label_sm label_custom">Ngày khởi tạo: </label>
                    <label class="inline_label_md label_value" id="ket_qua_nghi_duong_ngay_khoi_tao"></label>
                    <hr>
                    <label class="inline_label_sm label_custom">Tên dự án: </label>
                    <label class="inline_label_md label_value" id="ket_qua_nghi_duong_ten_du_an"></label>
                    <label class="inline_label_sm label_custom">Địa chỉ dự án: </label>
                    <label class="inline_label_md label_value" id="ket_qua_nghi_duong_dia_chi_du_an"></label>
                    <hr>
                    <label class="inline_label_sm label_custom">Đường\Dãy\Khu: </label>
                    <label class="inline_label_md label_value" id="ket_qua_nghi_duong_ten_toa_duong"></label>
                    <label class="inline_label_sm label_custom">Loại nhà: </label>
                    <label class="inline_label_md label_value" id="ket_qua_nghi_duong_loai_nha"></label>
                    <hr>
                    <label class="inline_label_sm label_custom">Mã căn: </label>
                    <label class="inline_label_md label_value" id="ket_qua_nghi_duong_ma_can"></label>
                    <hr style="border-bottom: 1px solid #901e1d;">
                    <label class="inline_label_sm label_custom">Diện tích đất: </label>
                    <label class="inline_label_md label_value" id="ket_qua_nghi_duong_dien_tich_dat"></label>                    
                    <label class="inline_label_sm label_custom">Diện tích sàn xây dựng: </label>
                    <label class="inline_label_md label_value" id="ket_qua_nghi_duong_dien_tich_san"></label>                    
                    <hr>
                    <label class="inline_label_sm label_custom">Đơn giá đất: </label>
                    <label class="inline_label_md label_value" id="ket_qua_nghi_duong_don_gia_dat"></label>                    
                    <label class="inline_label_sm label_custom">Đơn giá CTXD: </label>
                    <label class="inline_label_md label_value" id="ket_qua_nghi_duong_don_gia_ctxd"></label>                    
                    <hr>
                    <label class="inline_label_sm label_custom">Tổng giá trị xây thô: </label>
                    <label class="inline_label_md label_value" id="ket_qua_nghi_duong_tong_gia_xay_tho"></label>
                    <label class="inline_label_sm label_custom">Tổng giá trị hoàn thiện: </label>
                    <label class="inline_label_md label_value" id="ket_qua_nghi_duong_tong_gia_hoan_thien"></label>
                </div>

                <div class="modal-footer" style="text-align:center;color: black">              
                    <button onclick="takeScreenShot_nd($('#ket_qua_nghi_duong_id').text())" style="" class="btn btn-danger">Lưu kết quả</button>
                </div>
            </div>
        </div>
    </div>

<!-- MODAL KET QUA ROA THO CU -->
    <button type="button" id="ket_qua_roa_tho_cu" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modal_ket_qua_roa_tho_cu" style="display: none;">Open  l</button>
    <div class="modal fade" id="modal_ket_qua_roa_tho_cu" role="dialog">
            <div class="modal-dialog modal-lg modal_ket_qua">
                <div class="modal-content ">
                    <div class="modal-header" style="text-align:center;background-color: #901e1d;">
                        <button type="button" class="close" data-dismiss="modal" style="outline: none;color: white !important;font-size: 200% !important;opacity: 0.8;">&times;</button>
                        <div style="font-weight: bold;color: white; font-size: 150%">ROA BẤT ĐỘNG SẢN THỔ CƯ</div>
                    </div>
                    <div class="modal-footer" style="text-align:left;color: black">
                        <label class="inline_label_sm label_custom">ID: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_tho_cu_id"></label>
                        <label class="inline_label_sm label_custom">Ngày khởi tạo: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_tho_cu_ngay_khoi_tao"></label>
                        <hr>
                        <label class="inline_label_sm label_custom">Địa chỉ: </label>
                        <label class="inline_label_xl label_value" id="ket_qua_roa_tho_cu_dia_chi"></label>
                        <label class="inline_label_sm label_custom">Vị trí: </label>
                        <label class="inline_label_xl label_value" id="ket_qua_roa_tho_cu_vi_tri"></label>
                        <hr>                      
                        <label class="inline_label_sm label_custom">Tổng giá trị tài sản: </label>
                        <label class="inline_label_xl label_value" id="ket_qua_roa_tho_cu_tong_gia_ts"></label>   
                        <label class="inline_label_md label_value" style="color: #0066ff; font-size: 90%; font-style: italic;" id="ket_qua_roa_tho_cu_idts"></label>                     
                        <hr style="border-bottom: 1px solid #901e1d;">
                        <label class="inline_label_md label_custom">ROA: </label>
                        <label class="inline_label_xl label_value" id="ket_qua_roa_tho_cu_roa"></label>                        
                        <label class="inline_label_md label_custom">Lợi nhuận thuần của tài sản: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_tho_cu_loi_nhuan_thuan_ts"></label>
                    </div>
                    <div class="modal-footer" style="text-align:center;color: black">              
                        <button onclick="takeScreenShot_roa_tc($('#ket_qua_roa_tho_cu_id').text())" style="" class="btn btn-danger">Lưu kết quả</button>
                    </div>
                </div>
            </div>
    </div>

<!-- MODAL KET QUA ROA BIET THU-->
    <button type="button" id="ket_qua_roa_biet_thu" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modal_ket_qua_roa_biet_thu" style="display: none;">Open  l</button>
    <div class="modal fade" id="modal_ket_qua_roa_biet_thu" role="dialog">
            <div class="modal-dialog modal-lg modal_ket_qua">
                <div class="modal-content ">
                    <div class="modal-header" style="text-align:center;background-color: #901e1d;">
                        <button type="button" class="close" data-dismiss="modal" style="outline: none;color: white !important;font-size: 200% !important;opacity: 0.8;">&times;</button>
                        <div style="font-weight: bold;color: white; font-size: 150%">ROA BIỆT THỰ LIỀN KỀ - SHOPHOUSE</div>
                    </div>
                    <div class="modal-footer" style="text-align:left;color: black">
                        <label class="inline_label_sm label_custom">ID: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_biet_thu_id"></label>

                        <label class="inline_label_sm label_custom">Ngày khởi tạo: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_biet_thu_ngay_khoi_tao"></label>
                        <hr>
                        <label class="inline_label_sm label_custom">Tên dự án: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_biet_thu_ten_du_an"></label>
                        <label class="inline_label_sm label_custom">Địa chỉ: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_biet_thu_dia_chi"></label> 
                        <hr>                      
                        <label class="inline_label_sm label_custom">Đường/ Dãy/ Khu: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_biet_thu_duong_day_khu"></label> 
                        <label class="inline_label_sm label_custom">Mã căn: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_biet_thu_ma_can"></label>
                        <hr>                                          
                        <label class="inline_label_sm label_custom">Loại nhà: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_biet_thu_loai_nha"></label>
                        <label class="inline_label_sm label_custom">Tổng giá trị tài sản: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_biet_thu_tong_gia_ts"></label>
                        <hr style="border-bottom: 1px solid #901e1d;">
                        <label class="inline_label_md label_custom">ROA: </label>
                        <label class="inline_label_xl label_value" id="ket_qua_roa_biet_thu_roa"></label>                        
                        <label class="inline_label_md label_custom">Lợi nhuận thuần của tài sản: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_biet_thu_loi_nhuan_thuan_ts"></label>
                    </div>

                    <div class="modal-footer" style="text-align:center;color: black">              
                        <button onclick="takeScreenShot_roa_bt($('#ket_qua_roa_biet_thu_id').text())" style="" class="btn btn-danger">Lưu kết quả</button>
                    </div>
                </div>
            </div>
    </div>

<!-- MODAL KET QUA ROA CHUNG CU-->
    <button type="button" id="ket_qua_roa_chung_cu" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modal_ket_qua_roa_chung_cu" style="display: none;">Open  l</button>
    <div class="modal fade" id="modal_ket_qua_roa_chung_cu" role="dialog">
            <div class="modal-dialog modal-lg modal_ket_qua">
                <div class="modal-content ">
                    <div class="modal-header" style="text-align:center;background-color: #901e1d;">
                        <button type="button" class="close" data-dismiss="modal" style="outline: none;color: white !important;font-size: 200% !important;opacity: 0.8;">&times;</button>
                        <div style="font-weight: bold;color: white; font-size: 150%">ROA CĂN HỘ CHUNG CƯ</div>
                    </div>
                    <div class="modal-footer" style="text-align:left;color: black">
                        <label class="inline_label_sm label_custom">ID: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_chung_cu_id"></label>
                        <label class="inline_label_sm label_custom">Ngày khởi tạo: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_chung_cu_ngay_khoi_tao"></label>
                        <hr>
                        <label class="inline_label_sm label_custom">Tên dự án: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_chung_cu_ten_du_an"></label>
                        <label class="inline_label_sm label_custom">Địa chỉ: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_chung_cu_dia_chi"></label>
                        <hr>
                        <label class="inline_label_sm label_custom">Tòa: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_chung_cu_toa_nha"></label>
                        <label class="inline_label_sm label_custom">Tầng: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_chung_cu_ten_tang"></label>
                        <hr>
                        <label class="inline_label_sm label_custom" id="label_ket_qua_roa_chung_cu_ma_can">Mã căn: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_chung_cu_ma_can"></label>
                        <label class="inline_label_sm label_custom">Diện tích: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_chung_cu_dien_tich"></label>
                        <hr>                       
                        <label class="inline_label_sm label_custom">Đơn giá: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_chung_cu_don_gia"></label>
                        <label class="inline_label_sm label_custom">Tổng giá trị tài sản: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_chung_cu_tong_gia_ts"></label>
                        <hr style="border-bottom: 1px solid #901e1d;">
                        <label class="inline_label_md label_custom">ROA: </label>
                        <label class="inline_label_xl label_value" id="ket_qua_roa_chung_cu_roa"></label>                        
                        <label class="inline_label_md label_custom">Lợi nhuận thuần của tài sản: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_chung_cu_loi_nhuan_thuan_ts"></label>
                    </div>
                    <div class="modal-footer" style="text-align:center;color: black">              
                        <button onclick="takeScreenShot_roa_cc($('#ket_qua_roa_chung_cu_id').text())" style="" class="btn btn-danger">Lưu kết quả</button>
                    </div>
                </div>
            </div>
    </div>

<!-- MODAL KET QUA ROA NGHI DUONG-->
    <button type="button" id="ket_qua_roa_nghi_duong" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modal_ket_qua_roa_nghi_duong" style="display: none;">Open  l</button>
    <div class="modal fade" id="modal_ket_qua_roa_nghi_duong" role="dialog">
            <div class="modal-dialog modal-lg modal_ket_qua">
                <div class="modal-content ">
                    <div class="modal-header" style="text-align:center;background-color: #901e1d;">
                        <button type="button" class="close" data-dismiss="modal" style="outline: none;color: white !important;font-size: 200% !important;opacity: 0.8;">&times;</button>
                        <div style="font-weight: bold;color: white; font-size: 150%">ROA BIỆT THỰ NGHỈ DƯỠNG</div>
                    </div>
                    <div class="modal-footer" style="text-align:left;color: black">
                        <label class="inline_label_sm label_custom">ID: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_nghi_duong_id"></label>
                        <label class="inline_label_sm label_custom">Ngày khởi tạo: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_nghi_duong_ngay_khoi_tao"></label>
                        <hr>
                        <label class="inline_label_sm label_custom">Tên dự án: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_nghi_duong_ten_du_an"></label>
                        <label class="inline_label_sm label_custom">Địa chỉ: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_nghi_duong_dia_chi"></label>
                        <hr>
                        <label class="inline_label_sm label_custom">Đường/ Dãy/ Khu: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_nghi_duong_duong_day_khu"></label>
                        <label class="inline_label_sm label_custom">Mã căn: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_nghi_duong_ma_can"></label>
                        <hr>                       
                        <label class="inline_label_sm label_custom">Loại nhà: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_nghi_duong_loai_nha"></label>
                        <label class="inline_label_sm label_custom">Tổng giá trị tài sản: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_nghi_duong_tong_gia_ts"></label>
                        <hr style="border-bottom: 1px solid #901e1d;">
                        <label class="inline_label_md label_custom">ROA: </label>
                        <label class="inline_label_xl label_value" id="ket_qua_roa_nghi_duong_roa"></label>
                        <label class="inline_label_md label_custom">Lợi nhuận thuần của tài sản: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_nghi_duong_loi_nhuan_thuan_ts"></label>
                    </div>
                    <div class="modal-footer" style="text-align:center;color: black">              
                        <button onclick="takeScreenShot_roa_nd($('#ket_qua_roa_nghi_duong_id').text())" style="" class="btn btn-danger">Lưu kết quả</button>
                    </div>
                </div>
            </div>
    </div>    

<!-- SCREENSHOT -->
    <script src="\static\js\jquery-ui.js"></script>
    <script src="\static\js\html2canvas.js"></script>
    <script src="\static\js\html2canvas.svg.js"></script>
    <script type="text/javascript">
        // THO CU
        var ket_qua_tho_cu2 = document.getElementById("modal_ket_qua_tho_cu")
        var takeScreenShot2 = function(id_tho_cu) {
            html2canvas(ket_qua_tho_cu2, {
                onrendered: function (canvas) {
                    let tempcanvas2=document.createElement('canvas')
                    let scr_shot_width2 = $("#modal_ket_qua_tho_cu").width()
                    let scr_shot_height2 = $("#modal_ket_qua_tho_cu").height()

                    tempcanvas2.width = scr_shot_width2
                    tempcanvas2.height = scr_shot_height2
                    let context=tempcanvas2.getContext('2d')
                    context.drawImage(canvas, 10, 0, scr_shot_width2, scr_shot_height2)
                    let link=document.createElement("a")
                    link.href=tempcanvas2.toDataURL('image/jpg')
                    link.download = `${id_tho_cu}.jpg`
                    link.click()
                }
            })
        }

        // CHUNG CU
        var ket_qua_chung_cu = document.getElementById("modal_ket_qua_chung_cu")
        var takeScreenShot_cc = function(id_cc) {
            html2canvas(ket_qua_chung_cu, {
                onrendered: function (canvas) {
                    let tempcanvas=document.createElement('canvas')
                    let scr_shot_width = $("#modal_ket_qua_chung_cu").width()
                    let scr_shot_height = $("#modal_ket_qua_chung_cu").height()

                    tempcanvas.width = scr_shot_width
                    tempcanvas.height = scr_shot_height
                    let context=tempcanvas.getContext('2d')
                    context.drawImage(canvas, 10, 0, scr_shot_width, scr_shot_height)
                    let link=document.createElement("a")
                    link.href=tempcanvas.toDataURL('image/jpg')
                    link.download = `${id_cc}.jpg`
                    link.click()
                }
            })
        }

        // BIET THU
        var ket_qua_biet_thu = document.getElementById("modal_ket_qua_biet_thu")
        var takeScreenShot_bt = function(id_bt) {
            html2canvas(ket_qua_biet_thu, {
                onrendered: function (canvas) {
                    let tempcanvas=document.createElement('canvas')
                    let scr_shot_width = $("#modal_ket_qua_biet_thu").width()
                    let scr_shot_height = $("#modal_ket_qua_biet_thu").height()

                    tempcanvas.width = scr_shot_width
                    tempcanvas.height = scr_shot_height
                    let context=tempcanvas.getContext('2d')
                    context.drawImage(canvas, 10, 0, scr_shot_width, scr_shot_height)
                    let link=document.createElement("a")
                    link.href=tempcanvas.toDataURL('image/jpg')
                    link.download = `${id_bt}.jpg`
                    link.click()
                }
            });
        }

        // NGHI DUONG
        var ket_qua_nghi_duong = document.getElementById("modal_ket_qua_nghi_duong")
        var takeScreenShot_nd = function(id_nd) {
            html2canvas(ket_qua_nghi_duong, {
                onrendered: function (canvas) {
                    let tempcanvas=document.createElement('canvas')
                    let scr_shot_width = $("#modal_ket_qua_nghi_duong").width()
                    let scr_shot_height = $("#modal_ket_qua_nghi_duong").height()

                    tempcanvas.width = scr_shot_width
                    tempcanvas.height = scr_shot_height
                    let context=tempcanvas.getContext('2d')
                    context.drawImage(canvas, 10, 0, scr_shot_width, scr_shot_height)
                    let link=document.createElement("a")
                    link.href=tempcanvas.toDataURL('image/jpg')
                    link.download = `${id_nd}.jpg`
                    link.click()
                }
            });
        }
    </script>
    <script type="text/javascript">
        var width_screen = $(window).width()
        // ROA THO CU
        var ket_qua_roa_tho_cu2 = document.getElementById("modal_ket_qua_roa_tho_cu")
        var takeScreenShot_roa_tc = function(id_roa_tho_cu) {
            html2canvas(ket_qua_roa_tho_cu2, {
                onrendered: function (canvas) {
                    let tempcanvas2=document.createElement('canvas')
                    let scr_shot_width2 = $("#modal_ket_qua_roa_tho_cu").width()
                    let scr_shot_height2 = $("#modal_ket_qua_roa_tho_cu").height()

                    tempcanvas2.width = scr_shot_width2
                    tempcanvas2.height = scr_shot_height2
                    let context=tempcanvas2.getContext('2d')
                    context.drawImage(canvas, 10, 0, scr_shot_width2, scr_shot_height2)
                    let link=document.createElement("a")
                    link.href=tempcanvas2.toDataURL('image/jpg')
                    link.download = `${id_roa_tho_cu}.jpg`
                    link.click()
                }
            })
        }
    </script>
    <script type="text/javascript">
        // ROA BIET THU
        var ket_qua_roa_biet_thu = document.getElementById("modal_ket_qua_roa_biet_thu")
        var takeScreenShot_roa_bt = function(id_bt) {
            html2canvas(ket_qua_roa_biet_thu, {
                onrendered: function (canvas) {
                    let tempcanvas=document.createElement('canvas')
                    let scr_shot_width = $("#modal_ket_qua_roa_biet_thu").width()
                    let scr_shot_height = $("#modal_ket_qua_roa_biet_thu").height()

                    tempcanvas.width = scr_shot_width
                    tempcanvas.height = scr_shot_height
                    let context=tempcanvas.getContext('2d')
                    context.drawImage(canvas, 10, 0, scr_shot_width, scr_shot_height)
                    let link=document.createElement("a")
                    link.href=tempcanvas.toDataURL('image/jpg')
                    link.download = `${id_bt}.jpg`
                    link.click()
                }
            });
        }
    </script>
    <script type="text/javascript">
        // ROA CHUNG CU
        var ket_qua_roa_chung_cu = document.getElementById("modal_ket_qua_roa_chung_cu")
        var takeScreenShot_roa_cc = function(id_bt) {
            html2canvas(ket_qua_roa_chung_cu, {
                onrendered: function (canvas) {
                    let tempcanvas=document.createElement('canvas')
                    let scr_shot_width = $("#modal_ket_qua_roa_chung_cu").width()
                    let scr_shot_height = $("#modal_ket_qua_roa_chung_cu").height()

                    tempcanvas.width = scr_shot_width
                    tempcanvas.height = scr_shot_height
                    let context=tempcanvas.getContext('2d')
                    context.drawImage(canvas, 10, 0, scr_shot_width, scr_shot_height)
                    let link=document.createElement("a")
                    link.href=tempcanvas.toDataURL('image/jpg')
                    link.download = `${id_bt}.jpg`
                    link.click()
                }
            });
        }
    </script>
    <script type="text/javascript">
        // ROA NGHI DUONG
        var ket_qua_roa_nghi_duong = document.getElementById("modal_ket_qua_roa_nghi_duong")
        var takeScreenShot_roa_nd = function(id_bt) {
            html2canvas(ket_qua_roa_nghi_duong, {
                onrendered: function (canvas) {
                    let tempcanvas=document.createElement('canvas')
                    let scr_shot_width = $("#modal_ket_qua_roa_nghi_duong").width()
                    let scr_shot_height = $("#modal_ket_qua_roa_nghi_duong").height()

                    tempcanvas.width = scr_shot_width
                    tempcanvas.height = scr_shot_height
                    let context=tempcanvas.getContext('2d')
                    context.drawImage(canvas, 10, 0, scr_shot_width, scr_shot_height)
                    let link=document.createElement("a")
                    link.href=tempcanvas.toDataURL('image/jpg')
                    link.download = `${id_bt}.jpg`
                    link.click()
                }
            });
        }
    </script>

<!-- SEARCH FUNCTION -->
<script type="text/javascript">
    $("#search_ticket").selectpicker("val","").selectpicker("refresh")
    $("#search_ticket").change(function() {
        $.getJSON($SCRIPT_ROOT + '/ajax_search_ticket', {            
            id_ticket: $(this).val(),
        }, function(data) {
            console.log(data)
            // BDS THO CU
            if(data.phan_loai == 'bds_tho_cu'){
                $("#ket_qua_tho_cu_id").text(data.result[0])      
                $("#ket_qua_tho_cu_dia_chi").text(data.result[1].replace(/\|\|/g, ", "))
                $("#ket_qua_tho_cu_vi_tri").text(data.result[2])
                $("#ket_qua_tho_cu_dien_tich").text(data.result[3] + ' m2')
                $("#ket_qua_tho_cu_mat_tien").text(data.result[4] + ' m')
                $("#ket_qua_tho_cu_hinh_dang").text(data.result[5]) 
                $("#ket_qua_tho_cu_do_rong_ngo").text(data.result[6] + ' m')
                $("#ket_qua_tho_cu_kcach_truc_chinh").text(data.result[7] + ' m')             
                $("#ket_qua_tho_cu_loi_the").empty()
                $("#ket_qua_tho_cu_bat_loi").empty()
                console.log(data.result[8],data.result[9])
                $.each(data.result[8].split("|"), function(i,r) {
                    if (data.result[8] != '') {
                        $("#ket_qua_tho_cu_loi_the").append(`<div style="margin-left:5px;"><span>&#8226;</span> ${r}</div>`)
                    }else {
                        $("#ket_qua_tho_cu_loi_the").append(`<div style="margin-left:5px;"> Không có </div>`)
                    }
                })
                $.each(data.result[9].split("|"), function(i,r) {
                    if (data.result[9] != '') {
                        $("#ket_qua_tho_cu_bat_loi").append(`<div style="margin-left:5px;"><span>&#8226;</span> ${r}</div>`)
                    }else {
                        $("#ket_qua_tho_cu_bat_loi").append(`<div style="margin-left:5px;"> Không có </div>`)
                    }
                    
                })
                $("#ket_qua_tho_cu_gia_truoc").text(dot_number(Math.round(data.result[10])) + ' VNĐ ')
                $("#ket_qua_tho_cu_gia_sau").text(dot_number(Math.round(data.result[11])) + ' VNĐ')
                $("#ket_qua_tho_cu_loai_nha").text(data.result[12])
                $("#ket_qua_tho_cu_thoi_gian_su_dung").text(data.result[13])
                $("#ket_qua_tho_cu_gia_ctxd").text(dot_number(Math.round(data.result[14])) + ' VNĐ')
                $("#ket_qua_tho_cu_dien_tich_san_xd").text(data.result[15] + ' m2')
                let tong_gia_ctxd = parseFloat(data.result[14])*parseFloat(data.result[15])
                let tong_gia_dat = parseFloat(data.result[11])*parseFloat(data.result[3])
                $("#ket_qua_tho_cu_tong_gia_ctxd").text(dot_number(Math.round(tong_gia_ctxd))  + ' VNĐ')
                $("#ket_qua_tho_cu_tong_gia").text(dot_number(Math.round(tong_gia_dat)) + ' VNĐ ')
                $("#ket_qua_tho_cu_tong_gia_tai_san").text(dot_number(Math.round(tong_gia_dat+tong_gia_ctxd))  + ' VNĐ')
                $("#ket_qua_tho_cu_dd_vi_tri").text(data.dac_diem_VT)            
                $("#ket_qua_tho_cu_ti_le").text(
                    Math.round((parseFloat(data.result[11]) - parseFloat(data.result[10]))/parseFloat(data.result[10])*10000)/100  + '%')
                $("#ket_qua_tho_cu_ngay_khoi_tao").text(data.result[17].split(".")[0])
                $("#ket_qua_tho_cu").click()
            }
            // BDS QUY HOACH
            else if(data.phan_loai == 'quy_hoach'){
                console.log(data.dict_label_value)
                $("#ket_qua_quy_hoach_id").text(data.result[0])                
                $("#ket_qua_quy_hoach_dia_chi").text(data.result[1].replace(/\|\|/g, ", "))
                $("[id^='quy_hoach_']").empty()
                quy_hoach_hien_huu = data.result[3].split("*|*")[0]
                quy_hoach_moi = data.result[3].split("*|*")[1]
                quy_hoach_thoat_lu = data.result[3].split("*|*")[2]
                quy_hoach_cong_trinh = data.result[3].split("*|*")[3]
                if(quy_hoach_hien_huu == 'Chưa xác định'){
                    $("[id$='quy_hoach_hien_huu']").attr('style','display:none !important')
                }
                else{
                    $("[id$='quy_hoach_hien_huu']").attr('style','display:block !important')

                    let result_1 = ''                
                    $.each(String(quy_hoach_hien_huu).split("|"), function(i, r) {
                        result_1 += `<div style="margin-left: 10px;">${r}</div>`
                    })
                    $(`#quy_hoach_hien_huu`).append(result_1) 
                }
                if(quy_hoach_moi == 'Chưa xác định'){
                    $("[id$='quy_hoach_moi']").attr('style','display:none !important')                    
                }
                else {
                    $("[id$='quy_hoach_moi']").attr('style','display:block !important')                    

                    let result_2 = ''                
                    $.each(String(quy_hoach_moi).split("|"), function(i, r) {
                        result_2 += `<div style="margin-left: 10px;">${r}</div>`
                    })
                    $(`#quy_hoach_moi`).append(result_2)
                }
                if(quy_hoach_thoat_lu == 'Chưa xác định'){
                    $("[id$='quy_hoach_thoat_lu']").attr('style','display:none !important')
                }
                else {
                    $("[id$='quy_hoach_thoat_lu']").attr('style','display:block !important')

                    let result_3 = ''                
                    $.each(String(quy_hoach_thoat_lu).split("|"), function(i, r) {
                        result_3 += `<div style="margin-left: 10px;">${r}</div>`
                    })
                    $(`#quy_hoach_thoat_lu`).append(result_3)
                }
                if(quy_hoach_cong_trinh == 'Chưa xác định'){
                    $("[id$='quy_hoach_cong_trinh']").attr('style','display:none !important')
                }
                else {
                    $("[id$='quy_hoach_cong_trinh']").attr('style','display:block !important')
                    let result_4 = ''                
                    $.each(String(quy_hoach_cong_trinh).split("|"), function(i, r) {
                        result_4 += `<div style="margin-left: 10px;">${r}</div>`
                    })
                    $(`#quy_hoach_cong_trinh`).append(result_4)
                }
                if(quy_hoach_hien_huu == 'Chưa xác định' && quy_hoach_moi == 'Chưa xác định' && quy_hoach_thoat_lu == 'Chưa xác định' && quy_hoach_cong_trinh == 'Chưa xác định') {
                    $("[id$='quy_hoach_chua_xac_dinh']").attr('style', 'display:block !important')
                    $("#quy_hoach_chua_xac_dinh").append(`<div>Chưa xác định</div>`)
                }else {
                    $("[id$='quy_hoach_chua_xac_dinh']").attr('style', 'display:none !important')
                }

                $("#ket_qua_quy_hoach_ngay_khoi_tao").text(data.result[5])
                chart(data.dict_label_value, data.result[1].split("||")[2], data.result[1].split("||")[3])
                $("#ket_qua_quy_hoach").click()
            }
            // BDS CHUNG CU
            else if(data.phan_loai == 'bds_chung_cu'){
                $("#ket_qua_chung_cu_id").text(data.result.id_ticket)
                $("#ket_qua_chung_cu_ten_du_an").text(data.result.ten_du_an.split("||")[3])
                $("#ket_qua_chung_cu_ten_toa").text(data.result.ten_du_an.split("||")[2])
                $("#ket_qua_chung_cu_so_tang").text(data.result.ten_du_an.split("||")[1])
                $("#ket_qua_chung_cu_ma_can").text(data.result.ten_du_an.split("||")[0])
                if(data.result.ten_du_an.split("||")[0] == '') {
                    $("#ket_qua_chung_cu_ma_can").prop('style', 'display:none !important')
                    $("#label_ket_qua_chung_cu_ma_can").prop('style', 'display:none !important')
                }else {
                    $("#ket_qua_chung_cu_ma_can").prop('style', 'display:inline-block !important')
                    $("#label_ket_qua_chung_cu_ma_can").prop('style', 'display:inline-block !important')
                    $("#ket_qua_chung_cu_ma_can").text(data.result.ten_du_an.split("||")[0])
                }
                $("#ket_qua_chung_cu_dia_chi_du_an").text(data.result.dia_chi)
                $("#ket_qua_chung_cu_dien_tich").text(data.result.dien_tich + ' m2')
                $("#ket_qua_chung_cu_loai_dien_tich").text(data.result.loai_dien_tich)
                $("#ket_qua_chung_cu_don_gia").text(dot_number(Math.round(data.result.don_gia)) + " VNĐ")
                $("#ket_qua_chung_cu_tong_gia").text(dot_number(Math.round(data.result.tong_gia)) + " VNĐ")
                $("#ket_qua_chung_cu_ngay_khoi_tao").text(data.result.time)
                $("#ket_qua_chung_cu").click()
            }
            // BDS BIET THU
            else if(data.phan_loai == 'bds_biet_thu'){
                $("#ket_qua_biet_thu_id").text(data.result[0])
                $("#ket_qua_biet_thu_ten_du_an").text(data.result[1].split("||")[3])
                $("#ket_qua_biet_thu_ten_toa_duong").text(data.result[1].split("||")[2])
                $("#ket_qua_biet_thu_loai_nha").text(data.result[1].split("||")[1])
                $("#ket_qua_biet_thu_ma_can").text(data.result[1].split("||")[0])
                $("#ket_qua_biet_thu_dia_chi_du_an").text(data.result[10])
                $("#ket_qua_biet_thu_dien_tich_dat").text(data.result[2] + " m2")
                $("#ket_qua_biet_thu_dien_tich_san").text(data.result[3] + " m2")
                if(data.result[1].split("||")[0] == '') {
                    $("#ket_qua_biet_thu_ma_can").prop('style', 'display:none !important')
                    $("#label_ket_qua_biet_thu_ma_can").prop('style', 'display:none !important')
                }else {
                    $("#ket_qua_biet_thu_ma_can").prop('style', 'display:inline-block !important')
                    $("#label_ket_qua_biet_thu_ma_can").prop('style', 'display:inline-block !important')
                    $("#ket_qua_biet_thu_ma_can").text(data.result[1].split("||")[0])
                }
                if(data.result[4] != 'Không xác định'){
                    $("#ket_qua_biet_thu_don_gia_dat").text(dot_number(Math.round(data.result[4])) + " VNĐ")
                }else {
                    $("#ket_qua_biet_thu_don_gia_dat").text(data.result[4])
                }
                if(data.result[5] != 'Không xác định'){
                    $("#ket_qua_biet_thu_don_gia_ctxd").text(dot_number(Math.round(data.result[5])) + " VNĐ")
                }else {
                    $("#ket_qua_biet_thu_don_gia_ctxd").text(data.result[5])
                }
                if($.isNumeric(data.result[6])  ) {
                    $("#ket_qua_biet_thu_tong_gia_xay_tho").text(dot_number(Math.round(data.result[6])) + " VNĐ")
                }else {
                    $("#ket_qua_biet_thu_tong_gia_xay_tho").text(data.result[6])
                }
                if($.isNumeric(data.result[7])  ) {
                    $("#ket_qua_biet_thu_tong_gia_hoan_thien").text(dot_number(Math.round(data.result[7])) + " VNĐ")
                }else {
                    $("#ket_qua_biet_thu_tong_gia_hoan_thien").text(data.result[7])
                }                
                $("#ket_qua_biet_thu_ngay_khoi_tao").text(data.result[9])
                $("#ket_qua_biet_thu").click()
            }
            // BDS NGHI DUONG
            else if(data.phan_loai == 'bds_nghi_duong'){
                $("#ket_qua_nghi_duong_id").text(data.result[0])
                $("#ket_qua_nghi_duong_ten_du_an").text(data.result[1].split("||")[3])
                $("#ket_qua_nghi_duong_ten_toa_duong").text(data.result[1].split("||")[2])
                $("#ket_qua_nghi_duong_loai_nha").text(data.result[1].split("||")[1])
                $("#ket_qua_nghi_duong_ma_can").text(data.result[1].split("||")[0])
                $("#ket_qua_nghi_duong_dia_chi_du_an").text(data.result[10])
                $("#ket_qua_nghi_duong_dien_tich_dat").text(data.result[2] + " m2")
                $("#ket_qua_nghi_duong_dien_tich_san").text(data.result[3] + " m2")
                if(data.result[4] != 'Không xác định'){
                    $("#ket_qua_nghi_duong_don_gia_dat").text(dot_number(Math.round(data.result[4])) + " VNĐ")
                }else {
                    $("#ket_qua_nghi_duong_don_gia_dat").text(data.result[4])
                }
                if(data.result[5] != 'Không xác định'){
                    $("#ket_qua_nghi_duong_don_gia_ctxd").text(dot_number(Math.round(data.result[5])) + " VNĐ")
                }else {
                    $("#ket_qua_nghi_duong_don_gia_ctxd").text(data.result[5])
                }
                if($.isNumeric(data.result[6])  ) {
                    $("#ket_qua_nghi_duong_tong_gia_xay_tho").text(dot_number(Math.round(data.result[6])) + " VNĐ")
                }else {
                    $("#ket_qua_nghi_duong_tong_gia_xay_tho").text(data.result[6])
                }
                if($.isNumeric(data.result[7])  ) {
                    $("#ket_qua_nghi_duong_tong_gia_hoan_thien").text(dot_number(Math.round(data.result[7])) + " VNĐ")
                }else {
                    $("#ket_qua_nghi_duong_tong_gia_hoan_thien").text(data.result[7])
                }                
                $("#ket_qua_nghi_duong_ngay_khoi_tao").text(data.result[9])
                $("#ket_qua_nghi_duong").click()
            }

            // ROA BDS THO CU
            else if(data.phan_loai == 'roa_bds_tho_cu'){
                $(`#ket_qua_roa_tho_cu_id`).text(data.result[0])
                $(`#ket_qua_roa_tho_cu_ngay_khoi_tao`).text(data.result[3].split(".")[0])
                $(`#ket_qua_roa_tho_cu_dia_chi`).text(data.result[1].replace(/\|\|/g, ", "))
                $(`#ket_qua_roa_tho_cu_vi_tri`).text(data.result[7])
                $(`#ket_qua_roa_tho_cu_idts`).text('(ID tài sản: ' + data.result[4] + ')')
                $(`#ket_qua_roa_tho_cu_tong_gia_ts`).text(dot_number(parseInt(data.result[5])) + ' VNĐ')
                $(`#ket_qua_roa_tho_cu_roa`).text(Math.round(parseFloat(data.result[2])*10000)/100 + '%')
                $(`#ket_qua_roa_tho_cu_loi_nhuan_thuan_ts`).text(dot_number(parseInt(data.result[6])) + ' VNĐ/năm')
                $("#ket_qua_roa_tho_cu").click()
            }

            // ROA BDS NGHI DUONG
            else if(data.phan_loai == 'roa_bds_nghi_duong'){
                $(`#ket_qua_roa_nghi_duong_id`).text(data.result[0])
                $(`#ket_qua_roa_nghi_duong_ngay_khoi_tao`).text(data.result[3])
                $(`#ket_qua_roa_nghi_duong_ten_du_an`).text(data.result[4])
                $(`#ket_qua_roa_nghi_duong_duong_day_khu`).text(data.result[7])
                $(`#ket_qua_roa_nghi_duong_dia_chi`).text(data.result[1])
                $(`#ket_qua_roa_nghi_duong_ma_can`).text(data.result[9])
                $(`#ket_qua_roa_nghi_duong_loai_nha`).text(data.result[8])
                $(`#ket_qua_roa_nghi_duong_tong_gia_ts`).text(dot_number(parseInt(data.result[5])) + ' VNĐ')
                $(`#ket_qua_roa_nghi_duong_roa`).text(Math.round(parseFloat(data.result[2])*10000)/100 + '%')
                $(`#ket_qua_roa_nghi_duong_loi_nhuan_thuan_ts`).text(dot_number(parseInt(data.result[6])) + ' VNĐ/năm')
                $("#ket_qua_roa_nghi_duong").click()
            }

            // ROA BIET THU
            else if(data.phan_loai == 'roa_bds_biet_thu'){
                $(`#ket_qua_roa_biet_thu_id`).text(data.result[0])
                $(`#ket_qua_roa_biet_thu_ngay_khoi_tao`).text(data.result[3])
                $(`#ket_qua_roa_biet_thu_ten_du_an`).text(data.result[4])
                $(`#ket_qua_roa_biet_thu_duong_day_khu`).text(data.result[7])
                $(`#ket_qua_roa_biet_thu_dia_chi`).text(data.result[1])
                $(`#ket_qua_roa_biet_thu_ma_can`).text(data.result[9])
                $(`#ket_qua_roa_biet_thu_loai_nha`).text(data.result[8])
                if($.isNumeric(data.result[5])) {
                    $(`#ket_qua_roa_biet_thu_tong_gia_ts`).text(dot_number(parseInt(data.result[5])) + ' VNĐ')
                }else {
                    $(`#ket_qua_roa_biet_thu_tong_gia_ts`).text(data.result[5])
                }
                $(`#ket_qua_roa_biet_thu_roa`).text(Math.round(parseFloat(data.result[2])*10000)/100 + '%')
                if($.isNumeric(data.result[6])) {
                    $(`#ket_qua_roa_biet_thu_loi_nhuan_thuan_ts`).text(dot_number(parseInt(data.result[6])) + ' VNĐ/năm')
                }
                else {
                    $(`#ket_qua_roa_biet_thu_loi_nhuan_thuan_ts`).text(data.result[6])
                }
                $("#ket_qua_roa_biet_thu").click()
            }

            else if(data.phan_loai == 'roa_bds_chung_cu'){
                $(`#ket_qua_roa_chung_cu_id`).text(data.result[0])
                $(`#ket_qua_roa_chung_cu_ngay_khoi_tao`).text(data.result[3])
                $(`#ket_qua_roa_chung_cu_ten_du_an`).text(data.result[4].split("||")[3])
                $(`#ket_qua_roa_chung_cu_toa_nha`).text(data.result[4].split("||")[2])
                $(`#ket_qua_roa_chung_cu_ten_tang`).text(data.result[4].split("||")[1])
                $(`#ket_qua_roa_chung_cu_ma_can`).text(data.result[4].split("||")[0])
                $(`#ket_qua_roa_chung_cu_dia_chi`).text(data.result[1])
                if( data.result[4].split("||")[0] == '') {
                    $("#ket_qua_roa_chung_cu_ma_can").prop('style', 'display:none !important')
                    $("#label_ket_qua_roa_chung_cu_ma_can").prop('style', 'display:none !important')
                }else {
                    $("#ket_qua_roa_chung_cu_ma_can").prop('style', 'display:inline-block !important')
                    $("#label_ket_qua_roa_chung_cu_ma_can").prop('style', 'display:inline-block !important')
                }
                $(`#ket_qua_roa_chung_cu_dien_tich`).text(data.result[8] + ' m2')
                $(`#ket_qua_roa_chung_cu_don_gia`).text(dot_number(parseInt(data.result[7])) + ' VNĐ')
                $(`#ket_qua_roa_chung_cu_tong_gia_ts`).text(dot_number(parseInt(data.result[5])) + ' VNĐ')                    
                $(`#ket_qua_roa_chung_cu_roa`).text(Math.round(parseFloat(data.result[2])*10000)/100 + '%')                    
                $(`#ket_qua_roa_chung_cu_loi_nhuan_thuan_ts`).text(dot_number(parseInt(data.result[6])) + ' VNĐ/năm')
                $("#ket_qua_roa_chung_cu").click()
            }
            $("#search_ticket").selectpicker("val","").selectpicker("refresh")
        })
        return false
    })
</script>
