<!-- ROA THO CU -->
<form id="input_form_roa_tho_cu" method="POST" style="display: none;">
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <!-- TITLE -->
            <div class="x_title">
                <h2>ROA BĐS THỔ CƯ</h2>                
                <div class="clearfix"></div>
            </div>
            <!-- CONTENT -->
            <div class="x_content">
                <div class="collapse-group" style="margin-top: 2vh;">
                    <!-- TT BDS -->
                        <div class="panel panel-default">                            
                            <div class="panel-heading color_panel" role="tab" id="">
                                <div class="panel-title">
                                   <a id="title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseBDS_tho_cu_One" aria-expanded="true" aria-controls="collapseBDS_tho_cu_One" style="padding: 10px 15px !important"> THÔNG TIN CHUNG BĐS</a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="inline_modal">
                                    <label class="inline_label" for="idts_roa_tho_cu" style="">ID Tài sản</label>
                                    <select id="idts_roa_tho_cu" name="idts_roa_tho_cu" class="form-control inline_select_input selectpicker" title="" data-live-search="true" data-size="20">
                                    </select>                   
                                </div>  
                                <div class="inline_modal div_result_roa" id="div_tinh_thanh_roa_tho_cu">
                                    <label class="inline_label" for="tinh_thanh_roa_tho_cu" style="">Tỉnh/Thành</label>
                                    <label class="inline_select_input label_value" id="tinh_thanh_roa_tho_cu" style="" >Tỉnh/Thành</label>
                                </div> 
                                <div class="inline_modal div_result_roa" id="div_quan_huyen_roa_tho_cu">
                                    <label class="inline_label" for="quan_huyen_roa_tho_cu" style="">Quận/Huyện</label>
                                    <label class="inline_select_input label_value" id="quan_huyen_roa_tho_cu" style="margin-bottom:15px;">Quận/Huyện</label>                
                                </div> 
                                <div class="inline_modal div_result_roa" id="div_tuyen_duong_roa_tho_cu">
                                    <label class="inline_label" for="tuyen_duong_roa_tho_cu" style="">Tuyến đường</label>
                                    <label class="inline_select_input label_value" id="tuyen_duong_roa_tho_cu" style="">Tuyến đường</label>                 
                                </div>                
                                <div class="inline_modal div_result_roa" id="div_doan_duong_roa_tho_cu">
                                    <label class="inline_label" for="doan_duong_roa_tho_cu" style="">Đoạn đường</label>
                                    <label class="inline_select_input label_value" id="doan_duong_roa_tho_cu" style="">Đoạn đường</label>                 
                                </div>  
                                <div class="inline_modal div_result_roa" id="div_vi_tri_roa_tho_cu">
                                    <label class="inline_label" for="vi_tri_roa_tho_cu" style="">Vị trí</label>
                                    <label class="inline_select_input label_value" id="vi_tri_roa_tho_cu" style="">Vị trí</label>
                                </div>
                           </div>
                           <!-- BTN SUBMIT ROA TC -->
                           <div style="text-align: center;">
                               <button type="button" style="border: none; outline: none; background-color: #901e1d;color: white; width: 90px; height: 30px;margin-bottom: 10px;" id="get_result_roa_tho_cu">SUBMIT</button>
                           </div>
                       </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(`#idts_roa_tho_cu`).selectpicker("refresh").selectpicker("val","")
    var quan_huyen_id = `quan_huyen_roa_tho_cu`
    var tinh_thanh_id = `tinh_thanh_roa_tho_cu`
    var tuyen_duong_id = `tuyen_duong_roa_tho_cu`
    var doan_duong_id = `doan_duong_roa_tho_cu`
    var vi_tri_id = `vi_tri_roa_tho_cu`
    var idts_tc = `idts_roa_tho_cu`
    $(document).on('change', '#idts_roa_tho_cu', function() {     
        $.getJSON($SCRIPT_ROOT + '/ajax_idts_tho_cu_info', {
            idts_tc: $(`#${idts_tc}`).val(),
        }, function(data) {
            $(`#${tinh_thanh_id}`).text(data.dia_chi.split("||")[3])
            $(`#${tinh_thanh_id}`).val(data.dia_chi.split("||")[3])
            $(`#${quan_huyen_id}`).text(data.dia_chi.split("||")[2])
            $(`#${quan_huyen_id}`).val(data.dia_chi.split("||")[2])
            $(`#${tuyen_duong_id}`).text(data.dia_chi.split("||")[1])
            $(`#${tuyen_duong_id}`).val(data.dia_chi.split("||")[1])
            $(`#${doan_duong_id}`).text(data.dia_chi.split("||")[0])
            $(`#${doan_duong_id}`).val(data.dia_chi.split("||")[0])
            $(`#${vi_tri_id}`).text(data.vi_tri)
            $(`#${vi_tri_id}`).val(data.vi_tri)
            $(`#div_${tinh_thanh_id}`).prop("style", "visibility: visible !important").hide().fadeIn("slow")
            $(`#div_${quan_huyen_id}`).prop("style", "visibility: visible !important").hide().fadeIn("slow")
            $(`#div_${tuyen_duong_id}`).prop("style", "visibility: visible !important").hide().fadeIn("slow")
            $(`#div_${doan_duong_id}`).prop("style", "visibility: visible !important").hide().fadeIn("slow")
            $(`#div_${vi_tri_id}`).prop("style", "visibility: visible !important").hide().fadeIn("slow")
        })
        return false
    })

    // GET RESULT ROA THO CU
        $(document).on('click','#get_result_roa_tho_cu', function() {
            $.getJSON($SCRIPT_ROOT + '/ajax_roa_tho_cu', {   
                tinh_thanh: $(`#${tinh_thanh_id}`).val(),
                quan_huyen: $(`#${quan_huyen_id}`).val(),
                tuyen_duong: $(`#${tuyen_duong_id}`).val(),
                doan_duong: $(`#${doan_duong_id}`).val(),
                vi_tri: $(`#${vi_tri_id}`).val(),
                idts_tc: $(`#${idts_tc}`).val(),
            }, function(data) {
                $(`#ket_qua_roa_tho_cu_id`).text(data.new_id)
                $(`#ket_qua_roa_tho_cu_ngay_khoi_tao`).text(data.ngay_khoi_tao)
                $(`#ket_qua_roa_tho_cu_dia_chi`).text(data.dia_chi.replace(/\|\|/g, ", "))
                $(`#ket_qua_roa_tho_cu_vi_tri`).text(data.vi_tri)
                $(`#ket_qua_roa_tho_cu_idts`).text('(ID tài sản: ' + data.idts + ')')
                $(`#ket_qua_roa_tho_cu_tong_gia_ts`).text(dot_number(parseInt(data.tong_gia_ts)) + ' VNĐ')
                $(`#ket_qua_roa_tho_cu_roa`).text(Math.round(parseFloat(data.roa)*10000)/100 + '%')
                $(`#ket_qua_roa_tho_cu_loi_nhuan_thuan_ts`).text(dot_number(parseInt(data.result)) + ' VNĐ/năm')
                $("#ket_qua_roa_tho_cu").click()
            }).done(function() {
                render_id_ticket()
            })
            return false
        })
 </script>

</form>