
<!-- ROA MIN DU AN-->
<form id="input_form_roa_min_du_an" method="POST" style="display: none;">
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <!-- TITLE -->
            <div class="x_title">
                <h2>ROA BẤT ĐỘNG SẢN DỰ ÁN </h2>                
                <div class="clearfix"></div>
            </div>
            <!-- CONTENT -->
            <div class="x_content">
                <div class="collapse-group" style="margin-top: 2vh;">
                    <!-- TT BDS -->
                        <div class="panel panel-default">                            
                            <div class="panel-heading color_panel" role="tab" id="">
                                <div class="panel-title">
                                   <a id="title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseBDS_roa_min_du_an_One" aria-expanded="true" aria-controls="collapseBDS_roa_min_du_an_One" style="padding: 10px 15px !important"> THÔNG TIN CHUNG BĐS</a>
                                </div>
                            </div>
                            <div class="panel-body">                                
                                <div class="inline_modal" id="div_du_an_roa_min_du_an">
                                    <label class="inline_label" for="du_an_roa_min_du_an" style="">Dự án</label>
                                    <select id="du_an_roa_min_du_an" name="du_an_roa_min_du_an" class="form-control inline_select_input selectpicker" title="" data-live-search="true"  data-size="20">
                                    </select>         
                                </div>
                                <div class="inline_modal" id="div_loai_bds_roa_min_du_an">
                                    <label class="inline_label" for="loai_bds_roa_min_du_an" style="">Loại BĐS dự án</label>
                                    <select id="loai_bds_roa_min_du_an" name="loai_bds_roa_min_du_an" class="form-control inline_select_input selectpicker" title="" data-live-search="true"  data-size="20">
                                    </select>              
                                </div> 
                                <div class="inline_modal" id="div_toa_roa_min_du_an">
                                    <label class="inline_label" for="toa_roa_min_du_an" style="">Tòa/Đường/Dãy khu</label>
                                    <select id="toa_roa_min_du_an" name="toa_roa_min_du_an" class="form-control inline_select_input selectpicker" title="" data-live-search="true"  data-size="20">
                                    </select>              
                                </div> 
                                <div class="inline_modal" id="div_tang_roa_min_du_an">
                                    <label class="inline_label" for="tang_roa_min_du_an" style="">Tầng</label>
                                    <select id="tang_roa_min_du_an" name="tang_roa_min_du_an" class="form-control inline_select_input selectpicker" title="" data-live-search="true"  data-size="20">
                                    </select>   
                                </div> 
                                <div class="inline_modal" id="div_ma_can_roa_min_du_an">
                                    <label class="inline_label" for="ma_can_roa_min_du_an" style="">Mã căn</label>
                                    <select id="ma_can_roa_min_du_an" name="ma_can_roa_min_du_an" class="form-control inline_select_input selectpicker" title="" data-live-search="true"  data-size="20">
                                    </select>            
                                </div> 
                                
                            </div>
                           <!-- BTN SUBMIT ROA ND -->
                           <div style="text-align: center;">
                               <button type="button" style="border: none; outline: none; background-color: #901e1d;color: white; width: 90px; height: 30px;margin-bottom: 10px;" id="get_result_roa_min_du_an">SUBMIT</button>
                           </div>
                       </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- MODAL KET QUA ROA MIN DU AN -->
    <button type="button" id="ket_qua_roa_min_du_an" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modal_ket_qua_roa_min_du_an" style="display: none;">Open  l</button>
    <div class="modal fade" id="modal_ket_qua_roa_min_du_an" role="dialog">
            <div class="modal-dialog modal-lg modal_ket_qua">
                <div class="modal-content ">
                    <div class="modal-header" style="text-align:center;background-color: #901e1d;">
                        <button type="button" class="close" data-dismiss="modal" style="outline: none;color: white !important;font-size: 200% !important;opacity: 0.8;">&times;</button>
                        <div style="font-weight: bold;color: white; font-size: 150%">ROA BẤT ĐỘNG SẢN DỰ ÁN</div>
                    </div>
                    <div class="modal-footer" style="text-align:left;color: black">
                        <label class="inline_label_sm label_custom">Tên dự án: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_min_du_an_ten_du_an"></label>
                        <label class="inline_label_sm label_custom">Địa chỉ dự án: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_min_du_an_dia_chi_du_an"></label>
                        <hr>
                        <label class="inline_label_sm label_custom">Tòa/Đường/Dãy khu: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_min_du_an_ten_toa"></label>
                        <label class="inline_label_sm label_custom">Tầng: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_min_du_an_so_tang"></label>
                        <hr>
                        <label class="inline_label_sm label_custom">Mã căn: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_min_du_an_ma_can"></label>
                        <label class="inline_label_sm label_custom">Loại BĐS: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_min_du_an_loai_bds"></label>
                        <hr style="border-bottom:  1px solid #901e1d;">
                        <label class="inline_label_sm label_custom">ROA: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_min_du_an_roa"></label>
                        <label class="inline_label_sm label_custom">Tổng giá trị: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_min_du_an_tong_gia_ts"></label>
                        <!-- <label class="inline_label_md label_custom">Khung thu nhập từ cho thuê BĐS: </label> -->
                        <!-- <label class="inline_label_md label_value" id="ket_qua_roa_min_du_an_loi_nhuan"></label> -->
                    </div>
                    <div class="modal-footer" style="text-align:center;color: black">              
                    <!-- <button onclick="takeScreenShot_cc($('#ket_qua_roa_min_du_an_id').text())" style="" class="btn btn-danger">Lưu kết quả</button>  -->
                    </div>
                </div>
            </div>
    </div>
<script type="text/javascript">
    $(`#du_an_roa_min_du_an`).selectpicker("val","")
</script>

<!-- ROA MIN DU AN -->
<script type="text/javascript">
    // GET TEN TOA NHA
        $(document).on('change','[id^="du_an_roa_min_du_an"]', function() {
            $.getJSON($SCRIPT_ROOT + '/get_du_an_roa_min_du_an', {            
                ten_du_an: $(this).val(),
            }, function(data) { 
                console.log(data)
                $(`#toa_roa_min_du_an`).empty()
                $(`#loai_bds_roa_min_du_an`).empty()
                $(`#tang_roa_min_du_an`).empty()
                $(`#ma_can_roa_min_du_an`).empty()
                $.each(data.loai_bds, function(i,r) {
                    $(`#loai_bds_roa_min_du_an`).append(`<option>${r}</option>`).prop("disabled",false)
                })
                $(`#toa_roa_min_du_an`).selectpicker("refresh").selectpicker("val","")
                $(`#loai_bds_roa_min_du_an`).selectpicker("refresh").selectpicker("val","")
                $(`#tang_roa_min_du_an`).selectpicker("refresh").selectpicker("val","")
                $(`#ma_can_roa_min_du_an`).selectpicker("refresh").selectpicker("val","")
            });
            return false;
        })
    // GET LOAI BDS
        $(document).on('change','[id^="loai_bds_roa_min_du_an"]', function() {
            $.getJSON($SCRIPT_ROOT + '/get_loai_bds_roa_min_du_an', {            
                loai_bds: $(this).val(),
                ten_du_an: $(`#du_an_roa_min_du_an`).val(),
            }, function(data) { 
                console.log(data)
                $(`#toa_roa_min_du_an`).empty()
                $(`#tang_roa_min_du_an`).empty()
                $(`#ma_can_roa_min_du_an`).empty()
                $.each(data.result, function(i,r) {
                    $(`#toa_roa_min_du_an`).append(`<option>${r}</option>`).prop("disabled",false)
                })

                $(`#toa_roa_min_du_an`).selectpicker("refresh").selectpicker("val","")
                $(`#tang_roa_min_du_an`).selectpicker("refresh").selectpicker("val","")
                $(`#ma_can_roa_min_du_an`).selectpicker("refresh").selectpicker("val","")
            });
            return false;
        })
    // GET SO TANG NHA
        $(document).on('change','[id^="toa_roa_min_du_an"]', function() {
            $.getJSON($SCRIPT_ROOT + '/get_tang_roa_min_du_an', { 
                ten_du_an: $("#du_an_roa_min_du_an").val(),
                loai_bds: $("#loai_bds_roa_min_du_an").val(),
                ten_toa_nha: $(this).val(),
            }, function(data) { 
                $(`#tang_roa_min_du_an`).empty()
                $(`#ma_can_roa_min_du_an`).empty()

                $.each(data.result, function(i,r) {
                    $(`#tang_roa_min_du_an`).append(`<option>${r}</option>`).prop("disabled",false)
                })
                $(`#tang_roa_min_du_an`).selectpicker("refresh").selectpicker("val","")
                $(`#ma_can_roa_min_du_an`).selectpicker("refresh").selectpicker("val","")

            });
            return false;
        })
    // GET MA CAN
        $(document).on('change','[id^="tang_roa_min_du_an"]', function() {
            $.getJSON($SCRIPT_ROOT + '/get_ma_can_roa_min_du_an', { 
                ten_du_an: $("#du_an_roa_min_du_an").val(),
                ten_toa_nha: $("#toa_roa_min_du_an").val(),
                loai_bds: $("#loai_bds_roa_min_du_an").val(),
                so_tang: $(this).val(),
            }, function(data) { 
                $(`#ma_can_roa_min_du_an`).empty()
                if (data.result[0] == 'NULL') {
                    $(`#div_ma_can_roa_min_du_an`).css('display', 'none')
                    $(`#dien_tich_roa_min_du_an`).val('')
                    $(`#div_dien_tich_roa_min_du_an`).fadeIn("slow")
                }else {
                    $(`#div_dien_tich_roa_min_du_an`).css('display', 'none')                        
                    $.each(data.result, function(i,r) {
                        $(`#ma_can_roa_min_du_an`).append(`<option>${r}</option>`).prop("disabled",false)
                    })
                    $(`#ma_can_roa_min_du_an`).selectpicker("refresh").selectpicker("val","")
                    $(`#div_ma_can_roa_min_du_an`).fadeIn("slow")
                }
            });
            return false;
        })   
</script>
<script type="text/javascript">
    // GET RESULT ROA MIN DU AN              
    $(document).on('click', '#get_result_roa_min_du_an', function() {
        if(!$(`select[id$='roa_min_du_an']`).val()) {
            alert('Xin mời nhập đủ thông tin')
            return false
        }
        $.getJSON($SCRIPT_ROOT + '/roa_min_du_an', { 
            ten_du_an: $("#du_an_roa_min_du_an").val(),
            toa_nha: $("#toa_roa_min_du_an").val(),
            ten_tang: $("#tang_roa_min_du_an").val(),
            ma_can: $("#ma_can_roa_min_du_an").val(),
            loai_bds: $("#loai_bds_roa_min_du_an").val(),
        }, function(data) { 
            console.log(data)
            $(`#ket_qua_roa_min_du_an_ten_du_an`).text(data.ten_du_an)
            $(`#ket_qua_roa_min_du_an_dia_chi_du_an`).text(data.dia_chi)
            $(`#ket_qua_roa_min_du_an_ten_toa`).text(data.toa_nha)
            $(`#ket_qua_roa_min_du_an_so_tang`).text(data.ten_tang)
            $(`#ket_qua_roa_min_du_an_ma_can`).text(data.ma_can)
            $(`#ket_qua_roa_min_du_an_loai_bds`).text(data.loai_bds)
            $(`#ket_qua_roa_min_du_an_roa`).text(Math.round(parseFloat(data.roa)*10000)/100 + '%')
            $(`#ket_qua_roa_min_du_an_tong_gia_ts`).text(dot_number(parseInt(data.tong_gia_ts)) + ' VNĐ')
            // $(`#ket_qua_roa_min_du_an_loi_nhuan`).text(dot_number(parseInt(data.loi_nhuan)) + ' VNĐ/tháng')
            $("#ket_qua_roa_min_du_an").click()        
        })
        return false;
    })
</script>
</form>