<!-- ROA CHUNG CU-->
<form id="input_form_roa_chung_cu" method="POST" style="display: none;">
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <!-- TITLE -->
            <div class="x_title">
                <h2>ROA BĐS CĂN HỘ CHUNG CƯ </h2>                
                <div class="clearfix"></div>
            </div>
            <!-- CONTENT -->
            <div class="x_content">
                <div class="collapse-group" style="margin-top: 2vh;">
                    <!-- TT BDS -->
                        <div class="panel panel-default">                            
                            <div class="panel-heading color_panel" role="tab" id="">
                                <div class="panel-title">
                                   <a id="title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseBDS_chung_cu_One" aria-expanded="true" aria-controls="collapseBDS_chung_cu_One" style="padding: 10px 15px !important"> THÔNG TIN CHUNG BĐS</a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="inline_modal">
                                    <label class="inline_label" for="idts_roa_chung_cu" style="">ID Tài sản</label>
                                    <select id="idts_roa_chung_cu" name="idts_roa_chung_cu" class="form-control inline_select_input selectpicker" title="" data-live-search="true"  data-size="20">
                                    </select>                   
                                </div> 
                                <div class="inline_modal div_result_roa" id="div_du_an_roa_chung_cu">
                                    <label class="inline_label" for="du_an_roa_chung_cu" style="">Dự án</label>
                                    <label class="inline_select_input label_value" id="du_an_roa_chung_cu" style=""></label>
                                </div> 
                                <div class="inline_modal div_result_roa" id="div_toa_roa_chung_cu">
                                    <label class="inline_label" for="toa_roa_chung_cu" style="">Tòa</label>
                                    <label class="inline_select_input label_value" id="toa_roa_chung_cu" style="margin-bottom:15px;"></label>
                                </div> 
                                <div class="inline_modal div_result_roa" id="div_tang_roa_chung_cu">
                                    <label class="inline_label" for="tang_roa_chung_cu" style="">Tầng</label>
                                    <label class="inline_select_input label_value" id="tang_roa_chung_cu" style=""></label>   
                                </div> 
                                <div class="inline_modal div_result_roa" id="div_ma_can_roa_chung_cu">
                                    <label class="inline_label" for="ma_can_roa_chung_cu" style="">Mã căn</label>
                                    <label class="inline_select_input label_value" id="ma_can_roa_chung_cu" style=""></label>
                                </div> 
                                <div class="inline_modal div_result_roa" id="div_dien_tich_roa_chung_cu">
                                    <label class="inline_label" for="dien_tich_roa_chung_cu" style="">Diện tích</label>
                                    <label class="inline_select_input label_value" id="dien_tich_roa_chung_cu" style=""></label>
                                </div> 
                            </div>
                            <!-- BTN SUBMIT ROA ND -->
                            <div style="text-align: center;">
                                <button type="button" style="border: none; outline: none; background-color: #901e1d;color: white; width: 90px; height: 30px;margin-bottom: 10px;" id="get_result_roa_chung_cu">SUBMIT</button>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(`#idts_roa_chung_cu`).selectpicker("refresh").selectpicker("val","")
</script>
<script type="text/javascript">
    var du_an_id_cc = `du_an_roa_chung_cu`
    var toa_nha_id_cc = `toa_roa_chung_cu`
    var tang_id_cc = `tang_roa_chung_cu`
    var ma_can_id_cc = `ma_can_roa_chung_cu`
    var dien_tich_id_cc = `dien_tich_roa_chung_cu`
    var idts_cc = `idts_roa_chung_cu`
    // IDTS CHANGE
    $(document).on('change', '#idts_roa_chung_cu', function() {
        $.getJSON($SCRIPT_ROOT + '/ajax_idts_chung_cu_info', {
            idts_cc: $(`#${idts_cc}`).val(),
        }, function(data) {
            console.log(data.ten_du_an, data.toa_nha, data.tang, data.ma_can, data.dien_tich)
            $(`#${du_an_id_cc}`).text(data.ten_du_an)
            $(`#${toa_nha_id_cc}`).text(data.toa_nha)
            $(`#${tang_id_cc}`).text(data.tang)
            $(`#${ma_can_id_cc}`).text(data.ma_can)
            $(`#${dien_tich_id_cc}`).text(data.dien_tich + ' m2')
            $(`#${du_an_id_cc}`).val(data.ten_du_an)
            $(`#${toa_nha_id_cc}`).val(data.toa_nha)
            $(`#${tang_id_cc}`).val(data.tang)
            $(`#${ma_can_id_cc}`).val(data.ma_can)
            $(`#${dien_tich_id_cc}`).val(data.dien_tich)
            $(`#div_${du_an_id_cc}`).prop("style", "visibility: visible !important").hide().fadeIn("slow")
            $(`#div_${toa_nha_id_cc}`).prop("style", "visibility: visible !important").hide().fadeIn("slow")
            $(`#div_${tang_id_cc}`).prop("style", "visibility: visible !important").hide().fadeIn("slow")
            if(data.ma_can != '') {
                $(`#div_${ma_can_id_cc}`).prop("style", "visibility: visible !important").hide().fadeIn("slow")
                $(`#div_${dien_tich_id_cc}`).prop("style", "display:none !important")
            }else {
                $(`#div_${ma_can_id_cc}`).prop("style", "display:none !important")
                $(`#div_${dien_tich_id_cc}`).prop("style", "visibility: visible !important").hide().fadeIn("slow")
            }            
        })
        return false
    })

    // GET RESULT ROA CHUNG CU               
    $(document).on('click', '#get_result_roa_chung_cu', function() {
        $.getJSON($SCRIPT_ROOT + '/ajax_result_roa_chung_cu', { 
            ten_du_an: $("#du_an_roa_chung_cu").val(),
            toa_nha: $("#toa_roa_chung_cu").val(),
            ten_tang: $("#tang_roa_chung_cu").val(),
            ma_can: $("#ma_can_roa_chung_cu").val(),
            dien_tich: $("#dien_tich_roa_chung_cu").val(),
            idts_cc: $(`#${idts_cc}`).val(),
        }, function(data) { 
            $(`#ket_qua_roa_chung_cu_id`).text(data.new_id)
            $(`#ket_qua_roa_chung_cu_ngay_khoi_tao`).text(data.ngay_khoi_tao)
            $(`#ket_qua_roa_chung_cu_ten_du_an`).text(data.ten_du_an)
            $(`#ket_qua_roa_chung_cu_dia_chi`).text(data.dia_chi)
            $(`#ket_qua_roa_chung_cu_toa_nha`).text(data.toa_nha)
            $(`#ket_qua_roa_chung_cu_ten_tang`).text(data.ten_tang)
            $(`#ket_qua_roa_chung_cu_ma_can`).text(data.ma_can)                    
            if( data.ma_can == '') {
                $("#ket_qua_roa_chung_cu_ma_can").prop('style', 'display:none !important')
                $("#label_ket_qua_roa_chung_cu_ma_can").prop('style', 'display:none !important')
            }else {
                $("#ket_qua_roa_chung_cu_ma_can").prop('style', 'display:inline-block !important')
                $("#label_ket_qua_roa_chung_cu_ma_can").prop('style', 'display:inline-block !important')
            }
            $(`#ket_qua_roa_chung_cu_dien_tich`).text(data.dien_tich + ' m2')
            $(`#ket_qua_roa_chung_cu_don_gia`).text(dot_number(parseInt(data.don_gia)) + ' VNĐ')
            $(`#ket_qua_roa_chung_cu_tong_gia_ts`).text(dot_number(parseInt(data.tong_gia_ts)) + ' VNĐ')                    
            $(`#ket_qua_roa_chung_cu_roa`).text(Math.round(parseFloat(data.roa)*10000)/100 + '%')                    
            $(`#ket_qua_roa_chung_cu_loi_nhuan_thuan_ts`).text(dot_number(parseInt(data.loi_nhuan)) + ' VNĐ/năm')
            $("#ket_qua_roa_chung_cu").click()        
        }).done(function() {
            render_id_ticket()
        })
        return false;
    })
</script>
</form>