<!-- ROA BIET THU-->
<form id="input_form_roa_biet_thu" method="POST" style="display: none;">
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <!-- TITLE -->
            <div class="x_title">
                <h2>ROA BĐS BIỆT THỰ LIỀN KỀ - SHOPHOUSE </h2>                
                <div class="clearfix"></div>
            </div>
            <!-- CONTENT -->
            <div class="x_content">
                <div class="collapse-group" style="margin-top: 2vh;">
                    <!-- TT BDS -->
                        <div class="panel panel-default">                            
                            <div class="panel-heading color_panel" role="tab" id="">
                                <div class="panel-title">
                                    <a id="title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseBDS_biet_thu_One" aria-expanded="true" aria-controls="collapseBDS_biet_thu_One" style="padding: 10px 15px !important"> THÔNG TIN CHUNG BĐS</a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="inline_modal">
                                    <label class="inline_label" for="idts_roa_biet_thu" style="">ID Tài sản</label>
                                    <select id="idts_roa_biet_thu" name="idts_roa_biet_thu" class="form-control inline_select_input selectpicker" title="" data-live-search="true"  data-size="20">
                                    </select>                   
                                </div> 
                                <div class="inline_modal div_result_roa" id="div_du_an_roa_biet_thu">
                                    <label class="inline_label" for="du_an_roa_biet_thu" style="">Dự án</label>
                                    <label class="inline_select_input label_value" id="du_an_roa_biet_thu" style=""></label>
                                </div> 
                                <div class="inline_modal div_result_roa" id="div_duong_nha_roa_biet_thu" >
                                    <label class="inline_label" for="duong_nha_roa_biet_thu" style="">Đường/Dãy/Khu</label>
                                    <label class="inline_select_input label_value" id="duong_nha_roa_biet_thu"  style="margin-bottom:15px;"></label>                                                    
                                </div> 
                                <div class="inline_modal div_result_roa" id="div_loai_nha_roa_biet_thu">
                                    <label class="inline_label" for="loai_nha_roa_biet_thu"  data-toggle="tooltip" data-placement="bottom" style="">Loại nhà</label>
                                    <label class="inline_select_input label_value" id="loai_nha_roa_biet_thu" style=""></label>
                                </div> 
                                <div class="inline_modal div_result_roa" id="div_ma_can_roa_biet_thu">
                                    <label class="inline_label" for="ma_can_roa_biet_thu" style="">Mã căn</label>
                                    <label class="inline_select_input label_value" id="ma_can_roa_biet_thu" style=""></label>
                                </div>
                                <div class="inline_modal div_result_roa" id="div_dien_tich_dat_roa_biet_thu">
                                    <label class="inline_label" for="dien_tich_dat_roa_biet_thu" style="">Diện tích đất</label>
                                    <label class="inline_select_input label_value" id="dien_tich_dat_roa_biet_thu" style=""></label>
                                </div> 
                                <div class="inline_modal div_result_roa" id="div_dien_tich_san_xd_roa_biet_thu">
                                    <label class="inline_label" for="dien_tich_san_xd_roa_biet_thu" style="">Diện tích CTXD</label>
                                    <label class="inline_select_input label_value" id="dien_tich_san_xd_roa_biet_thu" style=""></label>        
                                </div> 
                            </div>
                           <!-- BTN SUBMIT ROA ND -->
                           <div style="text-align: center;">
                               <button type="button" style="border: none; outline: none; background-color: #901e1d;color: white; width: 90px; height: 30px;margin-bottom: 10px;" id="get_result_roa_biet_thu">SUBMIT</button>
                           </div>
                       </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(`#idts_roa_biet_thu`).selectpicker("refresh").selectpicker("val","")
</script>
<script type="text/javascript">
    var du_an_id_bt = `du_an_roa_biet_thu`
    var duong_nha_id_bt = `duong_nha_roa_biet_thu`
    var loai_nha_id_bt = `loai_nha_roa_biet_thu`
    var ma_can_id_bt = `ma_can_roa_biet_thu`
    var dien_tich_dat_id_bt = `dien_tich_dat_roa_biet_thu`
    var dien_tich_san_xd_id_bt = `dien_tich_san_xd_roa_biet_thu`
    var idts_bt = `idts_roa_biet_thu`
    // IDTS CHANGE
    $(document).on('change', '#idts_roa_biet_thu', function() {
        $.getJSON($SCRIPT_ROOT + '/ajax_idts_biet_thu_info', {
            idts_bt: $(`#${idts_bt}`).val(),
        }, function(data) {
            console.log(data.ten_du_an, data.duong_nha, data.loai_nha, data.ma_can)
            $(`#${du_an_id_bt}`).text(data.ten_du_an)
            $(`#${duong_nha_id_bt}`).text(data.duong_nha)
            $(`#${loai_nha_id_bt}`).text(data.loai_nha)
            $(`#${ma_can_id_bt}`).text(data.ma_can)
            $(`#${dien_tich_dat_id_bt}`).text(data.dien_tich_dat + ' m2')
            $(`#${dien_tich_san_xd_id_bt}`).text(data.dien_tich_san_xd + ' m2')
            $(`#${du_an_id_bt}`).val(data.ten_du_an)
            $(`#${duong_nha_id_bt}`).val(data.duong_nha)
            $(`#${loai_nha_id_bt}`).val(data.loai_nha)
            $(`#${ma_can_id_bt}`).val(data.ma_can)
            $(`#${dien_tich_dat_id_bt}`).val(data.dien_tich_dat)
            $(`#${dien_tich_san_xd_id_bt}`).val(data.dien_tich_san_xd)
            $(`#div_${du_an_id_bt}`).prop("style", "visibility: visible !important").hide().fadeIn("slow")
            $(`#div_${duong_nha_id_bt}`).prop("style", "visibility: visible !important").hide().fadeIn("slow")
            $(`#div_${loai_nha_id_bt}`).prop("style", "visibility: visible !important").hide().fadeIn("slow")
            if(data.ma_can != '') {
                $(`#div_${ma_can_id_bt}`).prop("style", "visibility: visible !important").hide().fadeIn("slow")
                $(`#div_${dien_tich_dat_id_bt}`).prop("style", "display:none !important")
                $(`#div_${dien_tich_san_xd_id_bt}`).prop("style", "display:none !important")
            }else {
                $(`#div_${ma_can_id_bt}`).prop("style", "display:none !important")
                $(`#div_${dien_tich_dat_id_bt}`).prop("style", "visibility: visible !important").hide().fadeIn("slow")
                $(`#div_${dien_tich_san_xd_id_bt}`).prop("style", "visibility: visible !important").hide().fadeIn("slow")
            }
        })
        return false
    })    
    // GET RESULT ROA BIET THU               
    $(document).on('click', '#get_result_roa_biet_thu', function() {
        $.getJSON($SCRIPT_ROOT + '/ajax_result_roa_biet_thu', { 
            ten_du_an: $("#du_an_roa_biet_thu").val(),
            ten_duong: $("#duong_nha_roa_biet_thu").val(),
            ten_tang: $("#loai_nha_roa_biet_thu").val(),
            ma_can: $("#ma_can_roa_biet_thu").val(),
            idts_bt: $(`#${idts_bt}`).val(),
        }, function(data) { 
            console.log(data.roa, data.tong_gia_ts, data.loi_nhuan)
            $(`#ket_qua_roa_biet_thu_id`).text(data.new_id)
            $(`#ket_qua_roa_biet_thu_ngay_khoi_tao`).text(data.ngay_khoi_tao)
            $(`#ket_qua_roa_biet_thu_ten_du_an`).text(data.ten_du_an)
            $(`#ket_qua_roa_biet_thu_duong_day_khu`).text(data.ten_duong)
            $(`#ket_qua_roa_biet_thu_dia_chi`).text(data.dia_chi)
            $(`#ket_qua_roa_biet_thu_idts`).text(data.idts_bt)
            $(`#ket_qua_roa_biet_thu_ma_can`).text(data.ma_can)
            $(`#ket_qua_roa_biet_thu_loai_nha`).text(data.ten_tang)
            if($.isNumeric(data.tong_gia_ts)) {
                $(`#ket_qua_roa_biet_thu_tong_gia_ts`).text(dot_number(parseInt(data.tong_gia_ts)) + ' VNĐ')
            }else {
                $(`#ket_qua_roa_biet_thu_tong_gia_ts`).text(data.tong_gia_ts)
            }
            $(`#ket_qua_roa_biet_thu_roa`).text(Math.round(parseFloat(data.roa)*10000)/100 + '%')
            if($.isNumeric(data.loi_nhuan)) {
                $(`#ket_qua_roa_biet_thu_loi_nhuan_thuan_ts`).text(dot_number(parseInt(data.loi_nhuan)) + ' VNĐ/năm')
            }
            else {
                $(`#ket_qua_roa_biet_thu_loi_nhuan_thuan_ts`).text(data.loi_nhuan)
            }
            $("#ket_qua_roa_biet_thu").click()        
        }).done(function() {
            render_id_ticket()
        })
        return false;
    })
</script>

</form>