<!-- ROA NGHI DUONG-->
<form id="input_form_roa_nghi_duong" method="POST" style="display: none;">
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <!-- TITLE -->
            <div class="x_title">
                <h2>ROA BĐS NGHỈ DƯỠNG </h2>                
                <div class="clearfix"></div>
            </div>
            <!-- CONTENT -->
            <div class="x_content">
                <div class="collapse-group" style="margin-top: 2vh;">
                    <!-- TT BDS -->
                        <div class="panel panel-default">                            
                            <div class="panel-heading color_panel" role="tab" id="">
                                <div class="panel-title">
                                    <a id="title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseBDS_nghi_duong_One" aria-expanded="true" aria-controls="collapseBDS_nghi_duong_One" style="padding: 10px 15px !important"> THÔNG TIN CHUNG BĐS</a>
                                </div>
                            </div>
                            <div class="panel-body">
                                <div class="inline_modal">
                                    <label class="inline_label" for="idts_roa_nghi_duong" style="">ID Tài sản</label>
                                    <select id="idts_roa_nghi_duong" name="idts_roa_nghi_duong" class="form-control inline_select_input selectpicker" title="" data-live-search="true" data-size="20">
                                    </select>                   
                                </div> 
                                <div class="inline_modal div_result_roa" id="div_du_an_roa_nghi_duong">
                                    <label class="inline_label" for="du_an_roa_nghi_duong" style="">Dự án</label>
                                    <label class="inline_select_input label_value" id="du_an_roa_nghi_duong" style=""></label>
                                </div> 
                                <div class="inline_modal div_result_roa" id="div_duong_nha_roa_nghi_duong" >
                                    <label class="inline_label" for="duong_nha_roa_nghi_duong" style="">Đường/Dãy/Khu</label>
                                    <label class="inline_select_input label_value" id="duong_nha_roa_nghi_duong"  style="margin-bottom:15px;"></label>                                                    
                                </div> 
                                <div class="inline_modal div_result_roa" id="div_loai_nha_roa_nghi_duong">
                                    <label class="inline_label" for="loai_nha_roa_nghi_duong"  data-toggle="tooltip" data-placement="bottom" style="">Loại nhà</label>
                                    <label class="inline_select_input label_value" id="loai_nha_roa_nghi_duong" style=""></label> 
                                </div> 
                                <div class="inline_modal div_result_roa" id="div_ma_can_roa_nghi_duong">
                                    <label class="inline_label" for="ma_can_roa_nghi_duong" style="">Mã căn</label>
                                    <label class="inline_select_input label_value" id="ma_can_roa_nghi_duong" style=""></label>
                                </div> 
                            </div>
                            <!-- BTN SUBMIT ROA ND -->
                            <div style="text-align: center;">
                               <button type="button" style="border: none; outline: none; background-color: #901e1d;color: white; width: 90px; height: 30px;margin-bottom: 10px;" id="get_result_roa_nghi_duong">SUBMIT</button>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(`#idts_roa_nghi_duong`).selectpicker("refresh").selectpicker("val","")
</script>
<script type="text/javascript">
    var du_an_id_nd = `du_an_roa_nghi_duong`
    var duong_nha_id_nd = `duong_nha_roa_nghi_duong`
    var loai_nha_id_nd = `loai_nha_roa_nghi_duong`
    var ma_can_id_nd = `ma_can_roa_nghi_duong`
    var idts_nd = `idts_roa_nghi_duong`
    // IDTS CHANGE
    $(document).on('change', '#idts_roa_nghi_duong', function() {
        $.getJSON($SCRIPT_ROOT + '/ajax_idts_nghi_duong_info', {
            idts_nd: $(`#${idts_nd}`).val(),
        }, function(data) {
            console.log(data.ten_du_an, data.duong_nha, data.loai_nha, data.ma_can)
            $(`#${du_an_id_nd}`).text(data.ten_du_an)
            $(`#${duong_nha_id_nd}`).text(data.duong_nha)
            $(`#${loai_nha_id_nd}`).text(data.loai_nha)
            $(`#${ma_can_id_nd}`).text(data.ma_can)
            $(`#${du_an_id_nd}`).val(data.ten_du_an)
            $(`#${duong_nha_id_nd}`).val(data.duong_nha)
            $(`#${loai_nha_id_nd}`).val(data.loai_nha)
            $(`#${ma_can_id_nd}`).val(data.ma_can)
            $(`#div_${du_an_id_nd}`).prop("style", "visibility: visible !important").hide().fadeIn("slow")
            $(`#div_${duong_nha_id_nd}`).prop("style", "visibility: visible !important").hide().fadeIn("slow")
            $(`#div_${loai_nha_id_nd}`).prop("style", "visibility: visible !important").hide().fadeIn("slow")            
            $(`#div_${ma_can_id_nd}`).prop("style", "visibility: visible !important").hide().fadeIn("slow")            
        })
        return false
    })    
    // GET RESULT ROA NGHI DUONG               
    $(document).on('click', '#get_result_roa_nghi_duong', function() {
        $.getJSON($SCRIPT_ROOT + '/ajax_result_roa_nghi_duong', { 
            ten_du_an: $("#du_an_roa_nghi_duong").val(),
            ten_duong: $("#duong_nha_roa_nghi_duong").val(),
            ten_tang: $("#loai_nha_roa_nghi_duong").val(),
            ma_can: $("#ma_can_roa_nghi_duong").val(),
            idts_nd: $(`#${idts_nd}`).val(),
        }, function(data) { 
            console.log(data.roa, data.tong_gia_ts, data.loi_nhuan)
            $(`#ket_qua_roa_nghi_duong_id`).text(data.new_id)
            $(`#ket_qua_roa_nghi_duong_ngay_khoi_tao`).text(data.ngay_khoi_tao)
            $(`#ket_qua_roa_nghi_duong_ten_du_an`).text(data.ten_du_an)
            $(`#ket_qua_roa_nghi_duong_duong_day_khu`).text(data.ten_duong)
            $(`#ket_qua_roa_nghi_duong_dia_chi`).text(data.dia_chi)
            $(`#ket_qua_roa_nghi_duong_idts`).text(data.idts_nd)
            $(`#ket_qua_roa_nghi_duong_ma_can`).text(data.ma_can)
            $(`#ket_qua_roa_nghi_duong_loai_nha`).text(data.ten_tang)
            if($.isNumeric(data.tong_gia_ts)) {
                $(`#ket_qua_roa_nghi_duong_tong_gia_ts`).text(dot_number(parseInt(data.tong_gia_ts)) + ' VNĐ')
            }else {
                $(`#ket_qua_roa_nghi_duong_tong_gia_ts`).text(data.tong_gia_ts)
            }
            $(`#ket_qua_roa_nghi_duong_roa`).text(Math.round(parseFloat(data.roa)*10000)/100 + '%')
            if($.isNumeric(data.loi_nhuan)) {
                $(`#ket_qua_roa_nghi_duong_loi_nhuan_thuan_ts`).text(dot_number(parseInt(data.loi_nhuan)) + ' VNĐ/năm')
            }
            else {
                $(`#ket_qua_roa_nghi_duong_loi_nhuan_thuan_ts`).text(data.loi_nhuan)
            }
            $("#ket_qua_roa_nghi_duong").click()        
        }).done(function() {
            render_id_ticket()
        })
        return false;
    })
</script>

</form>