


<!-- ROA THO CU -->
<form id="input_form_roa_min_tho_cu" method="POST" style="display: none;">
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <!-- TITLE -->
            <div class="x_title">
                <h2>ROA BẤT ĐỘNG SẢN THỔ CƯ</h2>
                
                <div class="clearfix"></div>
            </div>
            <!-- CONTENT -->
            <div class="x_content">
                <div class="collapse-group" style="margin-top: 2vh;">
                    <!-- TT BDS -->
                        <div class="panel panel-default">
                            
                            <div class="panel-heading color_panel" role="tab" id="">
                                <div class="panel-title">
                                   <a id="title" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseBDS_tho_cu_One" aria-expanded="true" aria-controls="collapseBDS_tho_cu_One" style="padding: 10px 15px !important"> THÔNG TIN CHUNG BĐS</a>
                                </div>
                            </div>
                            <div class="panel-body">                
                                <div class="inline_modal" id="div_tinh_thanh_roa_min_tho_cu">
                                    <label class="inline_label" for="tinh_thanh_roa_min_tho_cu" style="">Tỉnh/Thành</label>                                   
                                    <select id="tinh_thanh_roa_min_tho_cu" name="tinh_thanh_roa_min_tho_cu" class="form-control inline_select_input selectpicker" title="" data-live-search="true" data-size="20">
                                    </select>  
                                </div> 
                                <div class="inline_modal" id="div_quan_huyen_roa_min_tho_cu">
                                    <label class="inline_label" for="quan_huyen_roa_min_tho_cu" style="">Quận/Huyện</label>
                                    <select id="quan_huyen_roa_min_tho_cu" name="quan_huyen_roa_min_tho_cu" class="form-control inline_select_input selectpicker" title="" data-live-search="true" data-size="20">
                                    </select>                   
                                </div> 
                                <div class="inline_modal" id="div_tuyen_duong_roa_min_tho_cu">
                                    <label class="inline_label" for="tuyen_duong_roa_min_tho_cu" style="">Tuyến đường</label>
                                    <select id="tuyen_duong_roa_min_tho_cu" name="tuyen_duong_roa_min_tho_cu" class="form-control inline_select_input selectpicker" title="" data-live-search="true" data-size="20">
                                    </select>                   
                                </div>                
                                <div class="inline_modal" id="div_doan_duong_roa_min_tho_cu">
                                    <label class="inline_label" for="doan_duong_roa_min_tho_cu" style="">Đoạn đường</label>
                                    <select id="doan_duong_roa_min_tho_cu" name="doan_duong_roa_min_tho_cu" class="form-control inline_select_input selectpicker" title="" data-live-search="true" data-size="20">
                                    </select>                   
                                </div>  
                                <div class="inline_modal" id="div_vi_tri_roa_min_tho_cu">
                                    <label class="inline_label" for="vi_tri_roa_min_tho_cu" style="">Vị trí</label>
                                    <select id="vi_tri_roa_min_tho_cu" name="vi_tri_roa_min_tho_cu" class="form-control inline_select_input selectpicker" title="" data-live-search="true" data-size="20">
                                    </select>                   
                                </div>                  
                                
                                <div class="inline_modal" id="div_dien_tich_dat_roa_min_tho_cu">
                                    <label class="inline_label" for="dien_tich_dat_roa_min_tho_cu" style="">Diện tích đất</label>

                                    <input type="number" id="dien_tich_dat_roa_min_tho_cu" name="dien_tich_dat_roa_min_tho_cu" class="form-control inline_select_input">                 
                                </div>
                                <div class="inline_modal" id="div_dien_tich_san_roa_min_tho_cu">
                                    <label class="inline_label" for="dien_tich_san_roa_min_tho_cu" style="">Tổng diện tích sàn xây dựng</label>
                                    <input type="number" id="dien_tich_san_roa_min_tho_cu" name="dien_tich_san_roa_min_tho_cu" class="form-control inline_select_input">                  
                                </div>
                                <div class="inline_modal" id="div_thoi_gian_sd_roa_min_tho_cu">
                                    <label class="inline_label" for="thoi_gian_sd_roa_min_tho_cu" style="">Thời gian sử dụng </label>
                                    <select id="thoi_gian_sd_roa_min_tho_cu" name="thoi_gian_sd_roa_min_tho_cu" class="form-control inline_select_input selectpicker" title="" data-live-search="true" data-size="20">
                                        {% for i in list_nam_su_dung %}
                                            <option>{{i}}</option>
                                        {% endfor %}
                                    </select>                   
                                </div>
                                <div class="inline_modal" id="div_loai_bds_roa_min_tho_cu">
                                    <label class="inline_label" for="loai_bds_roa_min_tho_cu" style="">Loại BĐS Thổ cư</label>
                                    <select id="loai_bds_roa_min_tho_cu" name="loai_bds_roa_min_tho_cu" class="form-control inline_select_input selectpicker" title="" data-live-search="true" data-size="20">
                                        {% for i in list_loai_nha %}
                                            <option>{{i}}</option>
                                        {% endfor %}
                                    </select>                   
                                </div>
                            </div>
                            <!-- BTN SUBMIT ROA TC -->
                            <div style="text-align: center;">
                                <button type="button" style="border: none; outline: none; background-color: #901e1d;color: white; width: 90px; height: 30px;margin-bottom: 10px;" id="get_result_roa_min_tho_cu">SUBMIT</button>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- MODAL KET QUA -->
    <button type="button" id="ket_qua_roa_min_tho_cu" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modal_ket_qua_roa_min_tc" style="display: none;">Open  l</button>
    <div class="modal fade" id="modal_ket_qua_roa_min_tc" role="dialog">
            <div class="modal-dialog modal-lg modal_ket_qua">
                <div class="modal-content ">
                    <div class="modal-header" style="text-align:center;background-color: #901e1d;">
                        <button type="button" class="close" data-dismiss="modal" style="outline: none;color: white !important;font-size: 200% !important;opacity: 0.8;">&times;</button>
                        <div style="font-weight: bold;color: white; font-size: 150%">ROA BẤT ĐỘNG SẢN THỔ CƯ</div>
                    </div>
                    <div class="modal-footer" style="text-align:left;color: black">
                        <label class="inline_label_sm label_custom">Địa chỉ: </label>
                        <label class="inline_label_xl label_value" id="ket_qua_roa_min_tc_dia_chi"></label>
                        <hr>
                        <label class="inline_label_sm label_custom">Loại BĐS: </label>
                        <label class="inline_label_xl label_value" id="ket_qua_roa_min_tc_loai_bds"></label>
                        <hr>
                        <label class="inline_label_sm label_custom">Vị trí: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_min_tc_vi_tri"></label>
                        <label class="inline_label_sm label_custom">Diện tích đất: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_min_tc_dien_tich"></label>
                        <hr>
                        <label class="inline_label_sm label_custom">Diện tích sàn xây dựng: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_min_tc_dien_tich_san"></label>
                        <label class="inline_label_sm label_custom">Thời gian sử dụng: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_min_tc_thoi_gian"></label>
                        <hr style="border-bottom:  1px solid #901e1d;">
                        <label class="inline_label_sm label_custom">ROA: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_min_tc_roa"></label>
                        <label class="inline_label_sm label_custom">Tổng giá trị BĐS: </label>
                        <label class="inline_label_md label_value" id="ket_qua_roa_min_tc_tong_gia"></label>
                        <!-- <label class="inline_label_md label_custom">Khung thu nhập từ cho thuê BĐS: </label> -->
                        <!-- <label class="inline_label_xl label_value" id="ket_qua_roa_min_tc_thu_nhap"></label> -->
                    </div>
                    <div class="modal-footer" style="text-align:center;color: black">
                    </div>
                </div>
            </div>
    </div>
<!-- DISABLE BTN COMMA -->
<script type="text/javascript">
    function disable_btn(e) {if ((e.which || e.keyCode) == 188 || (e.which || e.keyCode) == 69) e.preventDefault()}           
    $(`input[type='number']`).on("keydown",disable_btn);    
</script>
<script type="text/javascript">
    $(`#loai_bds_roa_min_tho_cu`).selectpicker("refresh").selectpicker("val","")
    $(`#thoi_gian_sd_roa_min_tho_cu`).selectpicker("refresh").selectpicker("val","")
    var tinh_thanh_id_roa_min_tc = "tinh_thanh_roa_min_tho_cu"
    var quan_huyen_id_roa_min_tc = "quan_huyen_roa_min_tho_cu"
    var tuyen_duong_id_roa_min_tc = "tuyen_duong_roa_min_tho_cu"
    var doan_duong_id_roa_min_tc = "doan_duong_roa_min_tho_cu"
    var vi_tri_id_roa_min_tc = "vi_tri_roa_min_tho_cu"
    // GET RESULT ROA THO CU
        $(document).on('click','#get_result_roa_min_tho_cu', function() {            
            if($(`input[id$='roa_min_tho_cu']`).val() == '' || !$(`select[id$='roa_min_tho_cu']`).val()) {
                alert('Xin mời nhập đủ thông tin')
                return false
            }
            $.getJSON($SCRIPT_ROOT + '/roa_min_tho_cu', {   
                tinh_thanh: $(`#${tinh_thanh_id_roa_min_tc}`).val(),
                quan_huyen: $(`#${quan_huyen_id_roa_min_tc}`).val(),
                tuyen_duong: $(`#${tuyen_duong_id_roa_min_tc}`).val(),
                doan_duong: $(`#${doan_duong_id_roa_min_tc}`).val(),
                vi_tri: $(`#${vi_tri_id_roa_min_tc}`).val(),
                dien_tich_dat: $(`#dien_tich_dat_roa_min_tho_cu`).val(),
                dien_tich_san_xd: $(`#dien_tich_san_roa_min_tho_cu`).val(),
                loai_nha: $(`#loai_bds_roa_min_tho_cu`).val(),
                thoi_gian_sd: $(`#thoi_gian_sd_roa_min_tho_cu`).val(),
            }, function(data) {
                console.log(data)
                $(`#ket_qua_roa_min_tc_dia_chi`).text(data.dia_chi)
                $(`#ket_qua_roa_min_tc_loai_bds`).text(data.loai_nha)
                $(`#ket_qua_roa_min_tc_vi_tri`).text(data.vi_tri)
                $(`#ket_qua_roa_min_tc_dien_tich`).text(data.dien_tich_dat + ' m2')
                $(`#ket_qua_roa_min_tc_dien_tich_san`).text(data.dien_tich_san_xd + ' m2')
                $(`#ket_qua_roa_min_tc_thoi_gian`).text(data.thoi_gian_sd)
                $(`#ket_qua_roa_min_tc_roa`).text(Math.round(parseFloat(data.roa_thang)*10000)/100 + '%')
                $(`#ket_qua_roa_min_tc_tong_gia`).text(dot_number(parseInt(data.tong_gia_ts)) + ' VNĐ')
                $(`#ket_qua_roa_min_tc_thu_nhap`).text(dot_number(parseInt(data.loi_nhuan)) + ' VNĐ/tháng')
                $("#ket_qua_roa_min_tho_cu").click()
            })            
            return false
        })
  // QUAN HUYEN AJAX
      $(document).on('change','[id="tinh_thanh_roa_min_tho_cu"]', function() {
          // AJAX
          $.getJSON($SCRIPT_ROOT + '/get_quan_huyen_roa_min_tc', {
              tinh_thanh: $(this).val(),
          }, function(data) {               
              // empty field                        
              $(`#${quan_huyen_id_roa_min_tc}`).empty().prop("disabled",true)
              $(`#${tuyen_duong_id_roa_min_tc}`).empty().prop("disabled",true)
              $(`#${doan_duong_id_roa_min_tc}`).empty().prop("disabled",true)
              $(`#${vi_tri_id_roa_min_tc}`).empty().prop("disabled",true)
              $.each(data.result, function(i,r) {
                  $(`#${quan_huyen_id_roa_min_tc}`).append(`<option>${r}</option>`).prop("disabled",false)
              })
              $(`#${quan_huyen_id_roa_min_tc}`).selectpicker("refresh").selectpicker("val","")
              $(`#${tuyen_duong_id_roa_min_tc}`).selectpicker("refresh").selectpicker("val","")
              $(`#${doan_duong_id_roa_min_tc}`).selectpicker("refresh").selectpicker("val","")
              $(`#${vi_tri_id_roa_min_tc}`).selectpicker("refresh").selectpicker("val","")
            })
            return false;
      })
  // TEN DUONG AJAX
      $(document).on('change','[id="quan_huyen_roa_min_tho_cu"]', function() {          
          // AJAX
          $.getJSON($SCRIPT_ROOT + '/get_duong_pho_roa_min_tc', {
              tinh_thanh: $(`#${tinh_thanh_id_roa_min_tc}`).val(),
              quan_huyen: $(this).val(),

          }, function(data) { 
              $(`#${tuyen_duong_id_roa_min_tc}`).empty().prop("disabled",true)
              $(`#${doan_duong_id_roa_min_tc}`).empty().prop("disabled",true)
              $(`#${vi_tri_id_roa_min_tc}`).empty().prop("disabled",true)
              
              $.each(data.result, function(i,r) {
                  $(`#${tuyen_duong_id_roa_min_tc}`).append(`<option>${r}</option>`).prop("disabled",false)
              })
              $(`#${tuyen_duong_id_roa_min_tc}`).selectpicker("refresh").selectpicker("val","")
              $(`#${doan_duong_id_roa_min_tc}`).selectpicker("refresh").selectpicker("val","")
              $(`#${vi_tri_id_roa_min_tc}`).selectpicker("refresh").selectpicker("val","")
            });
            return false;
      })       

    // TUYEN DUONG AJAX
        $(document).on('change','[id="tuyen_duong_roa_min_tho_cu"]', function() {
            // AJAX
            $.getJSON($SCRIPT_ROOT + '/get_tuyen_duong_roa_min_tc', {
                tinh_thanh: $(`#${tinh_thanh_id_roa_min_tc}`).val(),
                quan_huyen: $(`#${quan_huyen_id_roa_min_tc}`).val(),
                tuyen_duong: $(`#${tuyen_duong_id_roa_min_tc}`).val(),
            }, function(data) { 
                $(`#${doan_duong_id_roa_min_tc}`).empty().prop("disabled",true)
                $(`#${vi_tri_id_roa_min_tc}`).empty().prop("disabled",true)                    
                $.each(data.result, function(i,r) {
                    $(`#${doan_duong_id_roa_min_tc}`).append(`<option>${r}</option>`).prop("disabled",false)
                })
                $(`#${doan_duong_id_roa_min_tc}`).selectpicker("refresh").selectpicker("val","")
                $(`#${vi_tri_id_roa_min_tc}`).selectpicker("refresh").selectpicker("val","")

              });
              return false;
        })

        // VI TRI AJAX
            $(document).on('change','[id="doan_duong_roa_min_tho_cu"]', function() {
                // AJAX
                $.getJSON($SCRIPT_ROOT + '/get_vi_tri_bds_roa_min_tc', {
                    tinh_thanh: $(`#${tinh_thanh_id_roa_min_tc}`).val(),
                    quan_huyen: $(`#${quan_huyen_id_roa_min_tc}`).val(),
                    tuyen_duong: $(`#${tuyen_duong_id_roa_min_tc}`).val(),
                    doan_duong: $(`#${doan_duong_id_roa_min_tc}`).val(),
                }, function(data) { 
                    $(`#${vi_tri_id_roa_min_tc}`).empty().prop("disabled",true)                    
                    $.each(data.result, function(i,r) {
                        $(`#${vi_tri_id_roa_min_tc}`).append(`<option>${r}</option>`).prop("disabled",false)
                    })
                    $(`#${vi_tri_id_roa_min_tc}`).selectpicker("refresh").selectpicker("val","")
                  });
                  return false;
            })
</script>
</form>