<!DOCTYPE html>
<html lang="en">
  <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <link rel="shortcut icon" href="#" />
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>iJupiter</title>
        <!-- jQuery -->
        <script src="{{ url_for('static', filename='vendors/jquery/dist/jquery.min.js') }}"></script>
        <!-- Bootstrap -->
        <link href="{{ url_for('static', filename='vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
        <!-- Font Awesome -->
        <link href="{{ url_for('static', filename='vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
        
      <!-- Custom Theme Style -->
      <link href="{{ url_for('static', filename='build/css/custom.css') }}" rel="stylesheet">
     <link rel="icon" href="{{ url_for('static', filename='img/Picture2.png') }}">

      
  </head>
  


<style type="text/css">
    .login_content form input[type="text"], .login_content form input[type="email"], .login_content form input[type="password"] {
        box-shadow: none;
    }

    .login_wrapper {
        width: 60vw ; max-width: 100vw; text-align: center;
    }
    .inp_login {border-radius: 0;height: 40px;width: 36vw; background-color: rgba(217, 217, 217, 0.1);color: white;
        font-size: 110%
    }
    .btn_login {
        border-radius: 0; width: 36vw; margin-left: 9px;font-weight: bold;background-color: #ffbb33; color: black;
    }
    .rainbow3 {
        background-image: -webkit-linear-gradient(left, orange , white, orange); /* For Chrome and Safari */
        background-image:    -moz-linear-gradient(left, orange , white, orange); /* For old Fx (3.6 to 15) */
        background-image:     -ms-linear-gradient(left, orange , white, orange); /* For pre-releases of IE 10*/
        background-image:      -o-linear-gradient(left, orange , white, orange); /* For old Opera (11.1 to 12.0) */
        background-image:         linear-gradient(to right, orange , white, orange); /* Standard syntax; must be last */
        color:transparent;
        -webkit-background-clip: text;
        background-clip: text;
    }
</style>
<style type="text/css">
    .main_label {
        text-align: center;margin: 0 auto;margin-top: 20vh; width: 20vw; font-weight: bold; font-size: 60px 
    }
    .footer_copyright {
        text-align: center;margin-top: 35vh;color:white;font-size: 120%
    }
    .bg_image {
        background-position: left; 
    }
    /*MOBILE MENU*/
    @media screen and (max-width:700px){
       .bg_image {
           background-position: top center; 
       }
       .login_wrapper {
           width: 100vw ;
       }
       .main_label {
           margin-top: 15vh; width: 100vw;font-size: 40px;
       }
       .inp_login {width: 70vw; 
       }
       .footer_copyright {
           margin-top: 40vh;font-size: 80%
       }
       .btn_login {
           width: 70vw;
       } 
        
    }  
        

    /*IPHONE X*/
    @media screen and (max-height: 820px) and (max-width:500px){
        .bg_image {
            background-position: top center; 
        }
        .login_wrapper {
            width: 100vw ;
        }
        .main_label {
            margin-top: 15vh; width: 100vw;font-size: 40px;
        }
        .inp_login {width: 70vw; 
        }
        .footer_copyright {
            margin-top: 40vh;font-size: 80%
        }
        .btn_login {
            width: 70vw;
        }
    } 

    /*IP 6/7/8 + PLUS*/
    @media screen and (max-height: 650px) and (max-width:500px){
        .bg_image {
            background-position: top center; 
        }
        .login_wrapper {
            width: 100vw ;
        }
        .main_label {
            margin-top: 15vh; width: 100vw;font-size: 40px;
        }
        .inp_login {width: 70vw; 
        }
        .footer_copyright {
            margin-top: 35vh;font-size: 80%
        }
        .btn_login {
            width: 70vw;
        }
    }
    
    /*IP 6/7/8 */
    @media screen and (max-height: 600px) and (max-width:500px){
        .bg_image {
            background-position: top center; 
        }
        .login_wrapper {
            width: 100vw ;
        }
        .main_label {
            margin-top: 15vh; width: 100vw;font-size: 40px;
        }
        .inp_login {width: 70vw; 
        }
        .footer_copyright {
            margin-top: 30vh;font-size: 80%
        }
        .btn_login {
            width: 70vw;
        }
    }
    /*IP5*/
    @media screen and (max-height: 550px) and (max-width:500px){
        .bg_image {
            background-position: top center; 
        }
        .login_wrapper {
            width: 100vw ;
        }
        .main_label {
            margin-top: 15vh; width: 100vw;font-size: 40px;
        }
        .inp_login {width: 70vw; 
        }
        .footer_copyright {
            margin-top: 25vh;font-size: 70%
        }
        .btn_login {
            width: 70vw;
        }
    }

    /*IP4*/
    @media screen and (max-height: 450px) and (max-width:500px){
        .bg_image {
            background-position: top center; 
        }
        .login_wrapper {
            width: 100vw ;
        }
        .main_label {
            margin-top: 10vh; width: 100vw;font-size: 40px 
        }
        .inp_login {width: 70vw; 
        }
        .footer_copyright {
            margin-top: 20vh;font-size: 70%
        }
        .btn_login {
            width: 70vw;
        }
    }

</style>
<script type="text/javascript">
    // alert($(window).width())
    // alert($(window).height())

</script>
  <body class="bg_image" style=" background-image:url(static/img/sml.jpg); background-size: 100% 100% no-repeat ;
    background-color: black;height: 80vh;">
    <script type=text/javascript>
        var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <div class="login_wrapper" style="text-align: center;">
            <form method="post">
                <div style="" class="rainbow3 main_label">iJupiter </div>
                <!-- USER -->
                <div class="col-md-12 col-sm-12 col-xs-12" style="margin-top: 5vh;margin-left: 12vw; margin-bottom: 2vh;width: 40vw;">
                    <input type="text" id="usn" name="usn" class="form-control has-feedback-left inp_login" placeholder="Tên đăng nhập">
                    <span class="fa fa-user form-control-feedback left" aria-hidden="true"></span>
                </div>

                <!-- PASS -->
                <div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback" style="margin-left: 12vw;width: 40vw;margin-bottom: 2vh;">
                    <input type="password" id="pd" name="pd" class="form-control has-feedback-left inp_login" placeholder="Mật khẩu">
                    <span class="fa fa-lock form-control-feedback left" aria-hidden="true"></span>
                </div>

                
                <div style="margin-left: 12vw;width: 40vw;">
                    <button type="button" class="form-control btn_login" name="login" id="btn_submit" style="">ĐĂNG NHẬP</button>
                    
                    <!-- <a class="reset_pass" href="#">Quên mật khẩu?</a> -->
                </div>  
                
                <div style="color: white;font-size: 110%" id="notify">&nbsp;</div>
                             
            </form>


    </div>
    <div class="footer_copyright" style="">
        <div>
            <p>©2018 Bản quyền thuộc về Công ty TNHH Tư vấn BĐS Sao Mộc</p>
        </div>
    </div>
    
    <script type="text/javascript">
        $(document).on('click','#btn_submit', function() {
            $.getJSON($SCRIPT_ROOT + '/authentication', {
                usn: $(`#usn`).val(),
                pd: $(`#pd`).val(),
            }, function(data) {        
                if(data.result == 'check_gia') {
                    window.location.href = "/check_gia"
                }
                else if(data.result == 'login') {
                    $("#notify").text('Tên đăng nhập hoặc mật khẩu không chính xác.')
                }
                else if(data.result == 'deactive') {
                    $("#notify").text('Tài khoản của bạn đã bị khóa.')
                }
                else if(data.result == 'changepass') {
                    window.location.href = "/user/changepass"
                }
            })
            return false;
        })
        $(document).on('keypress', function(e) {
            if(e.keyCode==13){
                $("#btn_submit").click()
            }
        })

    </script>
</body>
</html>