{% extends "tool_calculate_template/layout.html" %}

{% block title %} Profile {% endblock title %}

{% block stylesheets %}
    {{ super() }}
    <style type="text/css">
        .inline_modal {display: inline-block;width: 49.5%;padding: 10px; vertical-align: top}
        .inline_modal_lg {display: inline-block;width: 90.5%;padding: 10px}
        .inline_modal_3 {display: inline-block;width: 33%;padding: 10px;height: 6vh;}
        .inline_label {display: inline-block !important ;width: 30% !important}
        .inline_label_sm {display: inline-block !important ;width: 20% !important}
        
        .inline_select_input {display: inline-block !important ;width: 68% !important}
        .label_value {
            font-family: Arial, Helvetica, sans-serif;
            color: #901e1d;
            font-size: 150%;
        }
        .inline_label_xl {font-style: italic; font-weight: normal;}
        .highcharts-credits {display: none !important;}
    </style>
    <style type="text/css">
        .card {
            position: relative;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            border-radius: .25rem;
            border-radius: 2px;
            border-top: 4px solid #901e1d;
            border-bottom: 4px solid #901e1d;
            box-shadow: 0 2px 1px rgba(0,0,0,.05);
            border-left: 0;
            border-right: 0;
            padding: 0;
            /*margin: 20px;*/
            margin-bottom: 30px;
            background-color: #f2f2f2;
        }
        .col-sm-6, .col-sm-3, .col-sm-9 {display: inline-block;text-align: center; padding: 10px;height: 100px; color: black}
        /*div {border: 1px solid black}*/
        .vertical_middle {display: flex; align-items: center; }
        .full_width {width: 100%}
        .lg_text {font-size: 35px;}      
        .xxl_text {font-size: 25px;}
        .xl_text {font-size: 20px;}
        .md_text {font-size: 15px;}
        .sx_text {font-size: 13px;}
        .sxx_text {font-size: 10px;}
        .yellow {color: #f1c40f}
        .orange {color: #ff9900}
        .pink {color: #ff3399}
        .violet {color: #cc00ff}
        .white {color: #ffffff}
        .red90 {color: #901e1d}
        .bottom {position: absolute;bottom: 0px;}
    </style>
    <!-- Ionicons -->
    <link href="{{ url_for('static', filename='vendors/ionicons-2.0.1/css/ionicons.min.css') }}" rel="stylesheet">
{% endblock stylesheets %}

{% block content %}
    <style type="text/css">
        .bg-red, .callout.callout-danger, .alert-danger, .alert-error, .label-danger, .modal-danger .modal-body {
            background-color: #dd4b39 !important;
        }
        .bg-yellow, .callout.callout-warning, .alert-warning, .label-warning, .modal-warning .modal-body {
            background-color: #f39c12 !important;
        }
        .bg-green, .callout.callout-success, .alert-success, .label-success, .modal-success .modal-body {
            background-color: #00a65a !important;
        }
        .bg-aqua, .callout.callout-info, .alert-info, .label-info, .modal-info .modal-body {
            background-color: #00c0ef !important;
        }        
        .bg-red, .bg-yellow, .bg-aqua, .bg-blue, .bg-light-blue, .bg-green, .bg-navy, .bg-teal, .bg-olive, .bg-lime, .bg-orange, .bg-fuchsia, .bg-purple, .bg-maroon, .bg-black, .bg-red-active, .bg-yellow-active, .bg-aqua-active, .bg-blue-active, .bg-light-blue-active, .bg-green-active, .bg-navy-active, .bg-teal-active, .bg-olive-active, .bg-lime-active, .bg-orange-active, .bg-fuchsia-active, .bg-purple-active, .bg-maroon-active, .bg-black-active, .callout.callout-danger, .callout.callout-warning, .callout.callout-info, .callout.callout-success, .alert-success, .alert-danger, .alert-error, .alert-warning, .alert-info, .label-danger, .label-info, .label-warning, .label-primary, .label-success, .modal-primary .modal-body, .modal-primary .modal-header, .modal-primary .modal-footer, .modal-warning .modal-body, .modal-warning .modal-header, .modal-warning .modal-footer, .modal-info .modal-body, .modal-info .modal-header, .modal-info .modal-footer, .modal-success .modal-body, .modal-success .modal-header, .modal-success .modal-footer, .modal-danger .modal-body, .modal-danger .modal-header, .modal-danger .modal-footer {
            color: #fff !important;
        }
        .small-box h3, .small-box p {
            z-index: 5;
        }
        .small-box h3 {
            font-size: 38px;
            font-weight: bold;
            margin: 0 0 10px 0;
            white-space: nowrap;
            padding: 0;
        }
        h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
            font-family: 'Source Sans Pro',sans-serif;
        }
        .small-box>.inner {
            padding: 10px;
        }
        .small-box p {
            font-size: 15px;
        }
        .small-box>.small-box-footer {
            position: relative;
            /*text-align: center;*/
            padding: 3px 10px;
            color: #fff;
            color: rgba(255,255,255,0.8);
            display: block;
            z-index: 10;
            background: rgba(0,0,0,0.1);
            text-decoration: none;
        }
        .ion {
            display: inline-block;
            font-family: "Ionicons";
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            text-rendering: auto;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }        
        .small-box .icon {
            transition: all .3s linear;
            position: absolute;
            top: 0px;
            right: 20px;
            z-index: 0;
            font-size: 80px;
            color: rgba(0,0,0,.15);
        }
        .x_title span {color: black}
    </style>
    <div class="right_col" role="main" style="">
        <div class="row tile_count" style="">          
            <div class="col-md-12" >
                <!-- PROFILE -->
                <div class="x_panel" style="border-top: 3px solid #901e1d; border-top-right-radius: 4px;  border-top-left-radius: 4px;">
                    <div class="x_title">
                        <div class="col-md-6">
                            <h3 style="color: #901e1d;"> DASHBOARD <small>Control panel</small></h3>
                        </div>
                        <div class="col-md-6">
                            <select id="filter_user" name="filter_user" class="form-control inline_select_input selectpicker" title="" data-live-search="true" style="color: black;">
                                {% for r in all_user %}                                
                                    <option {% if r[1] == session['filter_user'] %} selected="" {% endif %} style="color: black;">
                                        <span style="font-weight: bold;color: #901e1d !important">{{r[0]}}</span>
                                        <span>&lt; {{r[1]}} &gt;</span>
                                    </option>                             
                                {% endfor %}                              
                            </select>   
                            <script type="text/javascript">
                                $(document).on('change', '#filter_user', function() {
                                    $.getJSON($SCRIPT_ROOT + '/filter_user', {     
                                        user : $(this).val()
                                    }, function(data) {                               
                                        window.location.href= "/user/dashboard"
                                    })
                                })
                            </script>
                        </div>                    
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">                        
                        <!-- REPORT -->
                            <div>
                                <div class="col-lg-3 col-xs-6"  style="margin-bottom: 10px">
                                    <!-- small box -->
                                    <div class="small-box bg-aqua">
                                        <div class="inner">
                                            <h3>{{ count_all_user }}</h3>
                                            <p>Tổng số User</p>
                                        </div>
                                        <div class="icon">
                                            <i class="ion ion-person"></i>                            
                                        </div>
                                        <a href="#" class="small-box-footer">
                                            {% if count_all_user|int - count_user_in_month|int != 0 %}
                                                {% set all_user = ((count_all_user|int/ (count_all_user|int - count_user_in_month|int))*100 - 100)|int %}
                                            {% else %}
                                                {% set all_user = 0 %}
                                            {% endif %}
                                            <strong>{{ all_user }} %</strong>
                                            <i class="ion ion-arrow-graph-up-right" style="font-size: 19px"></i>
                                        </a>
                                    </div>
                                </div>
                                <!-- ./col -->
                                <div class="col-lg-3 col-xs-6"  style="margin-bottom: 10px">
                                    <!-- small box -->
                                    <div class="small-box bg-green">
                                        <div class="inner">
                                            <h3>{{ count_user_in_month }}</h3>
                                            <p>User mới trong tháng</p>
                                        </div>
                                        <div class="icon">
                                            <i class="ion ion-person-add"></i>                                            
                                        </div>
                                        <a href="#" class="small-box-footer">
                                            {% if count_user_in_last_month|int != 0 %}
                                                {% set user_develop = (count_user_in_month|int / count_user_in_last_month|int*100)|int - 100 %}
                                                
                                            {% else %}
                                                {% set user_develop = 0 %}
                                            {% endif %}
                                            <strong>{{ user_develop }} %</strong>
                                            <i class="ion {% if user_develop >= 0 %} ion-arrow-graph-up-right {% else %} ion-arrow-graph-down-right {% endif %}" style="font-size: 19px"></i>
                                        </a>
                                    </div>
                                </div>
                                <!-- ./col -->
                                <div class="col-lg-3 col-xs-6"  style="margin-bottom: 10px">
                                    <!-- small box -->
                                    <div class="small-box bg-yellow">
                                        <div class="inner">
                                            <h3>{{ count_all_query_all_user }}</h3>
                                            <p>Tổng số lượt tra cứu</p>
                                        </div>
                                        <div class="icon">
                                            <i class="ion ion-folder"></i>
                                        </div>
                                        <a href="#" class="small-box-footer">
                                            {% if count_all_query_all_user|int - count_query_in_month_all_user|int != 0 %}
                                                {% set all_query = (count_all_query_all_user|int/(count_all_query_all_user|int - count_query_in_month_all_user|int)*100 - 100)|int %}
                                            {% else %}
                                                {% set all_query = 0 %}
                                            {% endif %}
                                            <strong>{{ all_query }} %</strong>
                                            <i class="ion ion-arrow-graph-up-right" style="font-size: 19px"></i>
                                        </a>
                                    </div>
                                </div>
                                <!-- ./col -->
                                <div class="col-lg-3 col-xs-6"  style="margin-bottom: 15px">
                                    <!-- small box -->
                                    <div class="small-box bg-red">
                                        <div class="inner">
                                            <h3>{{ count_query_in_month_all_user }}</h3>
                                            <p>Lượt tra cứu trong tháng</p>
                                        </div>
                                        <div class="icon">
                                            <i class="ion ion-pie-graph"></i>
                                        </div>
                                        <a href="#" class="small-box-footer">
                                            {% if count_query_in_last_month_all_user|int != 0 %}
                                                {% set query_develop = (count_query_in_month_all_user|int / count_query_in_last_month_all_user|int*100)|int - 100 %}
                                                
                                            {% else %}
                                                {% set query_develop = 0 %}
                                            {% endif %}
                                            <strong>{{ query_develop }} %</strong>
                                            <i class="ion {% if query_develop >= 0 %} ion-arrow-graph-up-right {% else %} ion-arrow-graph-down-right {% endif %}" style="font-size: 19px"></i>
                                        </a>
                                    </div>
                                </div>
                                <!-- ./col -->
                            </div>
                            <!-- P1 -->
                            <div class="col-lg-6 col-md-6 col-xs-12 ">
                                <div class="card">
                                    <div style="border-bottom: 1px solid #cccccc">
                                        <div class="col-sm-6 vertical_middle" style="border-right: 1px solid #cccccc;">
                                            <div class="row vertical_middle full_width">
                                                <div class="col-sm-4">                                            
                                                    <i class="ion ion-stats-bars lg_text red"></i>
                                                </div>
                                                <div class="col-sm-8">
                                                    <h3>{{ count_all_query }}</h3>
                                                    <span>Tổng lượt tra cứu</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 vertical_middle">
                                            <div class="row vertical_middle full_width">
                                                <div class="col-sm-4">
                                                    <i class="ion ion-android-options  lg_text orange"></i>
                                                </div>
                                                <div class="col-sm-8">
                                                    <h3>{{ count_query_in_month }}</h3>
                                                    <span>Lượt tra cứu tháng</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="col-sm-6 vertical_middle"  style="border-right: 1px solid #cccccc">
                                            <div class="row vertical_middle full_width">
                                                <div class="col-sm-4">                                            
                                                    <i class="ion ion-ios-printer lg_text blue"></i>
                                                </div>
                                                <div class="col-sm-8">
                                                    <h3>100k</h3>
                                                    <span>Lượt in kết quả</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 vertical_middle">
                                            <div class="row vertical_middle full_width">
                                                <div class="col-sm-4">
                                                    <i class="ion ion-arrow-graph-up-right  lg_text green"></i>
                                                </div>
                                                <div class="col-sm-8">
                                                    <h3>100%</h3>
                                                    <span>Thành công</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <!-- P2 -->                            
                            <div class="col-lg-6 col-md-6 col-xs-12 ">
                                <div class="card">
                                    <div style="border-bottom: 1px solid #cccccc">
                                        <div class="col-sm-6 vertical_middle" style="border-right: 1px solid #cccccc;">
                                            <div class="row vertical_middle full_width">
                                                <div class="col-sm-4">                                            
                                                    <i class="ion ion-pie-graph  lg_text blue "></i>
                                                </div>
                                                <div class="col-sm-8">
                                                    <h3>{{ count_gtt_query }}</h3>
                                                    <span>Tra cứu Giá TT</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 vertical_middle">
                                            <div class="row vertical_middle full_width">
                                                <div class="col-sm-4">
                                                    <i class="ion ion-ios-settings-strong  lg_text blue"></i>
                                                </div>
                                                <div class="col-sm-8">
                                                    <h3>{{ count_roa_query }}</h3>
                                                    <span>Tra cứu ROA</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="col-sm-6 vertical_middle"  style="border-right: 1px solid #cccccc">
                                            <div class="row vertical_middle full_width">
                                                <div class="col-sm-4">                                            
                                                    <i class="ion ion-ios-pulse-strong lg_text blue"></i>
                                                </div>
                                                <div class="col-sm-8">
                                                    <h3>{{ count_ttqh_query }}</h3>
                                                    <span>Tra cứu TTQH</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 vertical_middle">
                                            <div class="row vertical_middle full_width">
                                                <div class="col-sm-4">
                                                    <i class="ion ion-ios-clock  lg_text blue"></i>
                                                </div>
                                                <div class="col-sm-8">
                                                    <h3>0</h3>
                                                    <span>Tra cứu ..</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            

                        <!-- USER PROFILE  -->
                            <!-- <div class="col-md-12 col-xs-12" style="padding: 10px;font-size: 120%">
                                <div class="card">
                                    <hr style="border-top: 2px solid #cccccc">
                                    <div style="padding-left: 10px;">
                                        <div class="inline_modal">
                                            <label class="inline_label">Họ tên: </label>
                                            <label class="inline_label_xl" id="prf_name">{{user[0]}}</label>
                                        </div>
                                        <div class="inline_modal">
                                            <label class="inline_label">Email: </label>
                                            <label class="inline_label_xl" id="prf_mail">{{user[2]}}</label>
                                        </div>
                                    </div>
                                    <hr>
                                    <div style="padding-left: 10px;">
                                        <div class="inline_modal">
                                            <label class="inline_label">SĐT: </label>
                                            <label class="inline_label_xl" id="prf_mobile">{{user[3]}}</label>
                                        </div>
                                        <div class="inline_modal">
                                            <label class="inline_label">CMND: </label>
                                            <label class="inline_label_xl" class="inline_label_xl"  id="prf_id">{{user[1]}}</label>
                                        </div>
                                    </div>
                                    <hr>
                                    <div style="padding-left: 10px;">
                                        <div class="inline_modal">
                                            <label class="inline_label">Ngày khởi tạo: </label>
                                            <label class="inline_label_xl"  id="prf_creation_date">{{user[5].split(".")[0]}}</label>
                                        </div>
                                        <div class="inline_modal">
                                            <label class="inline_label">Trạng thái: </label>
                                            <label class="inline_label_xl" id="prf_status">{{user[7]}}</label>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div> -->
                            <div class="col-md-12">
                                <hr>
                            </div>
                            <div class="col-lg-12 col-md-12 col-xs-12" style="padding: 10px;font-size: 120%">
                                <div id="count_query" style="min-width: 310px; height: 450px; margin: 0 auto"></div>
                            </div>
                        </div>
                </div>

            </div>
        </div>
    </div>

<script type="text/javascript">
    Highcharts.chart('count_query', {
        chart: {
            type: 'column'
        },
        colors: [
                '#ffbb33',
                '#e66300',
                '#901e1d'
        ],
        exporting: { enabled: false },
        title: {
            text: 'BIỂU ĐỒ SỐ LƯỢNG TRA CỨU TRONG NĂM 2018',
            style: {
                fontWeight: 'bold',
                color: '#901e1d'
            }                    
        },
        xAxis: {
            categories: JSON.parse('{{list_month_categories|safe}}'),
            labels: {
                        style: {
                            fontWeight: 'bold',
                            color: 'gray'
                        }
                    }
        },
        yAxis: {
            min: 0,
            title: {
                text: 'Số lượng tra cứu',
                style: {
                    fontWeight: 'bold',
                    color: '#901e1d'
                } 
            },
            stackLabels: {
                enabled: true,
                style: {
                    fontWeight: 'bold',
                    color: (Highcharts.theme && Highcharts.theme.textColor) || 'gray'
                }
            }
        },        
        legend: {
            align: 'right',
            x: -30,
            verticalAlign: 'top',
            y: 25,
            floating: true,
            backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || 'white',
            borderColor: '#CCC',
            borderWidth: 1,
            shadow: false
        },
        tooltip: {
            headerFormat: '<b>{point.x}</b><br/>',
            pointFormat: '{series.name}: {point.y}<br/>Total: {point.stackTotal}'
        },

        plotOptions: {            
            column: {
                stacking: 'normal',
                dataLabels: {
                    enabled: true,
                    color: (Highcharts.theme && Highcharts.theme.dataLabelsColor) || 'white',
                    formatter:function() {
                        if(this.y != 0) {
                          return this.y;
                        }
                    },
                    style: {
                        textOutline: 0
                    },
                }
            }
        },        
        series: [{
            name: 'Giá thị trường',
            data: JSON.parse('{{ count_gtt_query_per_month|safe }}'),
            maxPointWidth: 80,
        }, {
            name: 'ROA',
            data: JSON.parse('{{ count_roa_query_per_month|safe }}'),
            maxPointWidth: 80
        },
        {
            name: 'Thông tin quy hoạch',
            data: JSON.parse('{{ count_ttqh_query_per_month|safe }}'),
            maxPointWidth: 80
        }]
    })
</script>

{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <script type="text/javascript" src="{{ url_for('static', filename='charts/js/highcharts.js') }} "></script>
{% endblock javascripts %}
