{% extends "tool_calculate_template/layout.html" %}

{% block title %} Profile {% endblock title %}

{% block stylesheets %}
  {{ super() }}
    <style type="text/css">
        .inline_modal {display: inline-block;width: 49.5%;padding: 10px; vertical-align: top}
        .inline_modal_lg {display: inline-block;width: 90.5%;padding: 10px}
        .inline_modal_3 {display: inline-block;width: 33%;padding: 10px;height: 6vh;}
        .inline_label {display: inline-block !important ;width: 30% !important}
        .inline_label_sm {display: inline-block !important ;width: 20% !important}
        
        .inline_select_input {display: inline-block !important ;width: 68% !important}
        .label_value {
            font-family: Arial, Helvetica, sans-serif;
            color: #901e1d;
            font-size: 150%;
        }
        .inline_label_xl {font-style: italic; font-weight: normal;}
    </style>
    <style type="text/css">
        .card {
            position: relative;
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -webkit-flex-direction: column;
            -ms-flex-direction: column;
            flex-direction: column;
            border-radius: .25rem;
            border-radius: 2px;
            border-top: 4px solid #901e1d;
            border-bottom: 4px solid #901e1d;
            box-shadow: 0 2px 1px rgba(0,0,0,.05);
            border-left: 0;
            border-right: 0;
            padding: 0;
            /*margin: 20px;*/
            margin-bottom: 30px;
            background-color: #f2f2f2;
        }
        .col-sm-6, .col-sm-3, .col-sm-9 {display: inline-block;text-align: center; padding: 10px;height: 100px; color: black}
        /*div {border: 1px solid black}*/
        .vertical_middle {display: flex; align-items: center; }
        .full_width {width: 100%}
        .lg_text {font-size: 35px;}      
        .xxl_text {font-size: 25px;}
        .xl_text {font-size: 20px;}
        .md_text {font-size: 15px;}
        .sx_text {font-size: 13px;}
        .sxx_text {font-size: 10px;}
        .yellow {color: #f1c40f}
        .orange {color: #ff9900}
        .pink {color: #ff3399}
        .violet {color: #cc00ff}
        .white {color: #ffffff}
        .red90 {color: #901e1d}
        .bottom {position: absolute;bottom: 0px;}
    </style>
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
{% endblock stylesheets %}


{% block content %}
    <div class="right_col" role="main" style="">
        <div class="row tile_count" style="">          
            <div class="col-md-12" >
                <!-- PROFILE -->
                <div class="x_panel" style="border-top: 3px solid #901e1d; border-top-right-radius: 4px;  border-top-left-radius: 4px;">
                    <div class="x_title">
                        <h3 style="color: #901e1d;">THÔNG TIN CÁ NHÂN </h3>                    
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <!-- REPORT -->                            
                            <!-- <div class="col-md-4 col-xs-12 ">
                                <div class="card">
                                    <div style="border-bottom: 1px solid #cccccc">
                                        <div class="col-sm-6 vertical_middle" style="border-right: 1px solid #cccccc;">
                                            <div class="row vertical_middle full_width">
                                                <div class="col-sm-4">                                            
                                                    <i class="ion ion-pie-graph  lg_text blue "></i>
                                                </div>
                                                <div class="col-sm-8">
                                                    <span>Tỉ lệ tra cứu Giá TT</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 vertical_middle">
                                            <div class="row vertical_middle full_width">
                                                <div class="col-sm-4">
                                                    <i class="ion ion-ios-settings-strong  lg_text blue"></i>
                                                </div>
                                                <div class="col-sm-8">
                                                    <span>Tỉ lệ tra cứu ROA</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="col-sm-6 vertical_middle"  style="border-right: 1px solid #cccccc">
                                            <div class="row vertical_middle full_width">
                                                <div class="col-sm-4">                                            
                                                    <i class="ion ion-ios-pulse-strong lg_text blue"></i>
                                                </div>
                                                <div class="col-sm-8">
                                                    <span>Tỉ lệ tra cứu TTQH</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 vertical_middle">
                                            <div class="row vertical_middle full_width">
                                                <div class="col-sm-4">
                                                    <i class="ion ion-ios-clock  lg_text blue"></i>
                                                </div>
                                                <div class="col-sm-8">
                                                    <h3>0%</h3>
                                                    <span>Tỉ lệ tra cứu ..</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->
                            <!-- P3 -->
                     
                            <!-- <div class="col-md-4 col-xs-12 ">
                                <div>
                                    <div style="border-bottom: 1px solid #cccccc">
                                        <div class="col-sm-3 vertical_middle white" style="background-color: #901e1d;">
                                            <div class="vertical_middle full_width">
                                                <div class="col-sm-12">                                            
                                                    <i class="ion ion-star lg_text white"></i>
                                                </div>                                                
                                            </div>
                                        </div>
                                        <div class="col-sm-9 vertical_middle white" style="background-color: rgba(144, 30, 29, 0.7)">
                                            <div class="row vertical_middle full_width">                                                
                                                <div class="col-sm-12">
                                                    
                                                    <span>
                                                        <h3 style="font-weight: bold">
                                                            {% if top_query == count_all_query %}
                                                                {% set user_ranking = 1 %}
                                                            {% endif %}
                                                            {{ user_ranking }}
                                                            
                                                        </h3>Xếp hạng 
                                                        <h6 style="margin-bottom: 0">
                                                            {% if user_ranking != 1 %}
                                                                <i>Cách top {{ top_query - count_all_query }} lượt tra cứu</i>
                                                            {% endif %}
                                                        </h6>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div style="margin-top: 50px;">
                                        <div class="col-sm-3 vertical_middle white"  style="background-color: #901e1d;margin-top: 10px;">
                                            <div class="vertical_middle full_width">
                                                <div class="col-sm-12">                                            
                                                    <i class="ion ion-trophy lg_text white"></i>
                                                </div>                                                
                                            </div>
                                        </div>
                                        <div class="col-sm-9 vertical_middle white " style="background-color: rgba(144, 30, 29, 0.7);margin-top: 10px;">
                                            <div class="row vertical_middle full_width ">                                                
                                                <div class="col-sm-12">
                                                    
                                                    <span>
                                                        <h3  style="font-weight: bold">
                                                            {% if top_query_month == count_query_in_month %}
                                                                {% set user_ranking_month = 1 %}
                                                            {% endif %}
                                                            {{ user_ranking_month }}
                                                        </h3>Xếp hạng tháng 
                                                        <h6 style="margin-bottom: 0">
                                                            {% if user_ranking != 1 %}
                                                                <i>Cách top {{ top_query_month - count_query_in_month }} lượt tra cứu</i>
                                                            {% endif %}
                                                        </h6>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->

                        <!-- USER PROFILE  -->
                            <div class="col-md-12 col-xs-12" style="padding: 10px;font-size: 120%">
                                <div class="card">
                                    <hr style="border-top: 2px solid #cccccc">
                                    <div style="padding-left: 10px;">
                                        <div class="inline_modal">
                                            <label class="inline_label">Họ tên: </label>
                                            <label class="inline_label_xl" id="prf_name">{{user[0]}}</label>
                                        </div>
                                        <div class="inline_modal">
                                            <label class="inline_label">Email: </label>
                                            <label class="inline_label_xl" id="prf_mail">{{user[2]}}</label>
                                        </div>
                                    </div>
                                    <hr>
                                    <div style="padding-left: 10px;">
                                        <div class="inline_modal">
                                            <label class="inline_label">SĐT: </label>
                                            <label class="inline_label_xl" id="prf_mobile">{{user[3]}}</label>
                                        </div>
                                        <div class="inline_modal">
                                            <label class="inline_label">CMND: </label>
                                            <label class="inline_label_xl" class="inline_label_xl"  id="prf_id">{{user[1]}}</label>
                                        </div>
                                    </div>
                                    <hr>
                                    <div style="padding-left: 10px;">
                                        <div class="inline_modal">
                                            <label class="inline_label">Ngày khởi tạo: </label>
                                            <label class="inline_label_xl"  id="prf_creation_date">{{user[5].split(".")[0]}}</label>
                                        </div>
                                        <div class="inline_modal">
                                            <label class="inline_label">Trạng thái: </label>
                                            <label class="inline_label_xl" id="prf_status">{{user[7]}}</label>
                                        </div>
                                    </div>
                                    <hr>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
{% endblock javascripts %}
