{% extends "base_site.html" %}

{% block title %} Projects {% endblock title %}

{% block stylesheets %}
  {{ super() }}
{% endblock stylesheets %}

{% block content %}
<link href="{{ url_for('static', filename='vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }} " rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }} " rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }} " rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }} " rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }} " rel="stylesheet">
<style type="text/css">
    table.dataTable thead>tr>th.sorting_asc, table.dataTable thead>tr>th.sorting_desc, table.dataTable thead>tr>th.sorting, table.dataTable thead>tr>td.sorting_asc, table.dataTable thead>tr>td.sorting_desc, table.dataTable thead>tr>td.sorting {
        padding-right: 0px;
    }
    table.dataTable thead .sorting:after {
        opacity: 0.2;
        content: "";
    }
    table.dataTable thead .sorting_asc:after {
    content: "";
    }
</style>
<script type=text/javascript>
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<div class="right_col" role="main">    
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <!-- TITLE -->
                <div class="x_title">
                    <h2>Danh sách Tài khoản</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class=""></a>
                        </li>
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>                           
                        </li>                        
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <!-- CONTENT -->
                <div class="x_content">
                    <div id="" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                        <div class="row">
                            <div class="col-sm-12">
                                <table id="datatable" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info" style="font-size: 90%">
                                    <col width="1%">
                                    <col width="10%">
                                    <col width="10%">
                                    <col width="10%">
                                    <col width="10%">
                                    <col width="10%">
                                    <col width="10%">
                                    <col width="10%">
                                    <col width="10%">
                                    <col width="10%">
                                    <thead>
                                        <tr role="row">
                                            <th>STT</th>
                                            <th>Họ tên</th>
                                            <th>CMND</th>
                                            <th>Mail</th>
                                            <th>SĐT</th>
                                            <th>Username</th>
                                            <th>Password</th>
                                            <th>Ngày tạo</th>
                                            <th>Phân quyền</th>
                                            <th>Trạng thái</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for r in list_user %}
                                        <tr role="row" class="even" id="tr_{{r.username|replace('.', '_')}}">
                                            <td>{{ loop.index }}</td>
                                            {% for i in r[:-3] %}
                                                <td>{{ i }}</td>
                                            {% endfor %}
                                            <td>{{ r[-3].split(".")[0] }}</td>
                                            <td>
                                                <select id="user_role_{{ loop.index }}" val="{{r.username|replace('.', '_')}}">
                                                    <option {% if r[-2] == 'User' %} selected {% endif %}>User</option>
                                                    <option {% if r[-2] == 'User IDC' %} selected {% endif %}>User IDC</option>
                                                    <option {% if r[-2] == 'Admin' %} selected {% endif %}>Admin</option>
                                                </select>                                              
                                            </td>
                                            <td>
                                                <select id="user_status_{{ loop.index }}" val="{{r.username|replace('.', '_')}}">
                                                    <option {% if r[-1] == 'Active' %} selected {% endif %}>Active</option>
                                                    <option {% if r[-1] == 'Deactive' %} selected {% endif %}>Deactive</option>
                                                </select>                                                
                                            </td>
                                            <td><button type="button" class="btn btn-sm btn-danger" id="del_user_{{r.username|replace('.', '_')}}" value="{{r.username|replace('.', '_')}}">Del</button></td>
                                        </tr>
                                        {% endfor %}                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>                        
                    </div>
                </div>           
            </div>
        </div>
    </div>    
</div>

{% endblock content %}

{% block javascripts %}
  {{ super() }}
        <script type="text/javascript">
            $(`[id^='del_user_']`).on('click', function() {
                let del_val = $(this).val()
                let del_user = $(this).val().replace("_", ".")
                $.getJSON($SCRIPT_ROOT + '/ajax_del_user', {  
                    del_user: del_user,
                }, function(data) {
                    alert("Đã xóa user: " + data.result)
                    $(`#tr_${del_val}`).remove()
                })
                return false
            })
            $(`[id^='user_role']`).on('change', function() {  
                let user = $(this).attr("val")              
                $.getJSON($SCRIPT_ROOT + '/change_user_role', {
                    value : $(this).val(),
                    user: user,
                }, function(data) {
                })
                return false
            })
            $(`[id^='user_status']`).on('change', function() {  
                let user = $(this).attr("val")              
                $.getJSON($SCRIPT_ROOT + '/change_user_status', {
                    value : $(this).val(),
                    user: user,
                }, function(data) {
                })
                return false
            })
        </script>
  <!-- Datatables -->
      <script src="{{ url_for('static', filename='vendors/datatables.net/js/jquery.dataTables.js') }}"></script>
      <script src="{{ url_for('static', filename='vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>      
      <script type="text/javascript">
        $(`#datatable`).DataTable()
    </script>
{% endblock javascripts %}
