{% extends "tool_calculate_template/layout.html" %}

{% block title %} Profile {% endblock title %}

{% block stylesheets %}
  {{ super() }}
  <link href="{{ url_for('static', filename='vendors/datatables.net-bs/css/dataTables.bootstrap.min.css') }} " rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-buttons-bs/css/buttons.bootstrap.min.css') }} " rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-fixedheader-bs/css/fixedHeader.bootstrap.min.css') }} " rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-responsive-bs/css/responsive.bootstrap.min.css') }} " rel="stylesheet">
  <link href="{{ url_for('static', filename='vendors/datatables.net-scroller-bs/css/scroller.bootstrap.min.css') }} " rel="stylesheet">
  <style type="text/css">
    .inline_modal {display: inline-block;width: 49.5%;padding: 10px; vertical-align: top}
    .inline_modal_lg {display: inline-block;width: 90.5%;padding: 10px}
    .inline_modal_3 {display: inline-block;width: 33%;padding: 10px;height: 6vh;}
    .inline_label {display: inline-block !important ;width: 30% !important}
    .inline_label_sm {display: inline-block !important ;width: 20% !important}
    .inline_label_md_2 {display: inline-block !important ;width: 25vw !important;}
    
    .inline_select_input {display: inline-block !important ;width: 68% !important}
    .label_value {
        font-family: Arial, Helvetica, sans-serif;
        color: #901e1d;
        font-size: 150%;
    }
    .table>tbody>tr>td {line-height: 1.7}
  </style>
{% endblock stylesheets %}

{% set dict_phan_loai = {
    'bds_tho_cu' : 'Bất động sản thổ cư',
    'bds_chung_cu' : 'Bất động sản chung cư',
    'bds_biet_thu' : 'Bất động sản biệt thự',
    'bds_nghi_duong' : 'Bất động sản nghỉ dưỡng',
    'quy_hoach' : 'Thông tin quy hoạch',
    'roa_bds_tho_cu' : 'ROA Bất động sản thổ cư',
    'roa_bds_chung_cu' : 'ROA Bất động sản chung cư',
    'roa_bds_biet_thu' : 'ROA Bất động sản biệt thự',
    'roa_bds_nghi_duong' : 'ROA Bất động sản nghỉ dưỡng',
} %}

{% block content %}
    <div class="right_col" role="main" style="">
        <form action="" method="post" style="" onsubmit="return(checkForm(this))">
            <!-- CONTENT HISTORY -->
            <div class="row tile_count" style="">
                <div class="col-md-12">
                    <!-- TITLE -->
                    <div class="x_panel">
                        <div class="x_title">
                            <h3 style="color: #901e1d;">LỊCH SỬ TRA CỨU</h3>                    
                            <div class="clearfix"></div>
                        </div>
                        <div class="x_content">
                            <div class="" role="tabpanel" data-example-id="togglable-tabs">
                                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                                    <li role="presentation" class="active"><a href="#tab_gia_thi_truong" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true"><b>Giá thị trường</b></a>
                                    </li>
                                    <li role="presentation" class=""><a href="#tab_quy_hoach" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false"><b>Thông tin quy hoạch</b></a>
                                    </li>
                                    <li role="presentation" class=""><a href="#tab_roa" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false"><b>ROA</b></a>
                                    </li>                                    
                                </ul>
                                <div id="myTabContent" class="tab-content">
                                    <!-- TAB GIA TT -->
                                    <div role="tabpanel" class="tab-pane fade active in" id="tab_gia_thi_truong" aria-labelledby="home-tab" >                                        
                                        <div class="x_content">
                                            <table class="table table-striped" id="tbl_gia_tt" role="grid" aria-describedby="datatable_info">
                                                <col width="4%">
                                                <col width="10%">
                                                <col width="16%">
                                                <col width="20%">
                                                <col width="50%">
                                                <thead>
                                                    <tr style="color: black">
                                                        <th>#</th>
                                                        <th>ID Ticket</th>
                                                        <th>Thời gian tra cứu</th>
                                                        <th>Phân loại</th>
                                                        <th>Địa chỉ/Tên dự án</th>
                                                    </tr>
                                                </thead>
                                                {% for r in query_history_gia_thi_truong %}
                                                <tr>
                                                    <td>{{loop.index}}</td>
                                                    <td><b>{{ r[0] }}</b></td>
                                                    <td>{{ r[1].split(".")[0] }}</td>
                                                    <td>                                                    
                                                        <span class="label 
                                                        {% if r[2] == 'bds_biet_thu' %} label-success 
                                                        {% elif r[2] == 'bds_tho_cu' %} label-warning
                                                        {% elif r[2] == 'bds_chung_cu' %} label-danger
                                                        {% elif r[2] == 'bds_nghi_duong' %} label-info
                                                        {% endif %}
                                                        " style="font-size: 85%">{{ dict_phan_loai[r[2]] }}</span>
                                                    </td>
                                                    <td><b>{{ r[3].split("|>TT1|")[1].split("*|*")[0]|replace('||', ', ') }}</b></td>
                                                </tr>                        
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </div>
                                    <!-- TAB TTQH -->
                                    <div role="tabpanel" class="tab-pane fade" id="tab_quy_hoach" aria-labelledby="profile-tab">
                                        <div class="x_content">
                                            <table class="table table-striped" id="tbl_ttqh">
                                                <col width="4%">
                                                <col width="10%">
                                                <col width="16%">
                                                <col width="20%">
                                                <col width="50%">
                                                <thead>
                                                    <tr style="color: black">
                                                        <th>#</th>
                                                        <th>ID Ticket</th>
                                                        <th>Thời gian tra cứu</th>
                                                        <th>Địa chỉ</th>
                                                    </tr>
                                                </thead>
                                                {% for r in query_history_quy_hoach %}
                                                <tr>
                                                    <td>{{loop.index}}</td>
                                                    <td><b>{{ r[0] }}</b></td>
                                                    <td>{{ r[1].split(".")[0] }}</td>
                                                    <td><b>{{ r[2]|replace('||', ', ') }}</b></td>
                                                </tr>                        
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </div>
                                    <!-- TAB ROA -->
                                    <div role="tabpanel" class="tab-pane fade" id="tab_roa" aria-labelledby="profile-tab">
                                        <div class="x_content">
                                            <table class="table table-striped" id="tbl_roa">
                                                <col width="4%">
                                                <col width="10%">
                                                <col width="16%">
                                                <col width="25%">
                                                <col width="45%">
                                                <thead>
                                                    <tr style="color: black">
                                                        <th>#</th>
                                                        <th>ID Ticket</th>
                                                        <th>Thời gian tra cứu</th>
                                                        <th>Phân loại</th>
                                                        <th>Địa chỉ/Tên dự án</th>
                                                    </tr>
                                                </thead>
                                                {% for r in query_history_roa %}
                                                <tr>
                                                    <td>{{loop.index}}</td>
                                                    <td><b>{{ r[0] }}</b></td>
                                                    <td>{{ r[1].split(".")[0] }}</td>
                                                    <td>
                                                        <span class="label 
                                                        {% if r[2] == 'roa_bds_biet_thu' %} label-success 
                                                        {% elif r[2] == 'roa_bds_tho_cu' %} label-warning
                                                        {% elif r[2] == 'roa_bds_chung_cu' %} label-danger
                                                        {% elif r[2] == 'roa_bds_nghi_duong' %} label-info
                                                        {% endif %}
                                                        " style="font-size: 85%">{{ dict_phan_loai[r[2]] }}</span>
                                                    </td>
                                                    {% if r[2] == 'roa_bds_tho_cu' %}
                                                        <td><b>{{ r[3].split("|>TT13|")[1].split("*|*")[0]|replace('||', ', ') }}</b></td>
                                                    {% elif r[2] == 'roa_bds_chung_cu' %}
                                                        <td><b>{{ r[3].split("|>TT18|")[1].split("*|*")[0]|replace('||', ', ') }}</b></td>
                                                    {% elif r[2] == 'roa_bds_biet_thu' %}
                                                        <td><b>{{ r[3].split("|>TT17|")[1].split("*|*")[0]|replace('||', ', ') }}</b></td>
                                                    {% elif r[2] == 'roa_bds_nghi_duong' %}
                                                        <td><b>{{ r[3].split("|>TT16|")[1].split("*|*")[0]|replace('||', ', ') }}</b></td>
                                                    {% endif %}                                                    
                                                </tr>                        
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </div>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
{% endblock content %}

{% block javascripts %}
  {{ super()}}
  <!-- Datatables -->
      <script src="{{ url_for('static', filename='vendors/datatables.net/js/jquery.dataTables.js') }}"></script>
      <script src="{{ url_for('static', filename='vendors/datatables.net-bs/js/dataTables.bootstrap.min.js') }}"></script>      
      <script type="text/javascript">
        $(document).ready( function () {
            $(`#tbl_gia_tt`).DataTable()
            $(`#tbl_roa`).DataTable()
            $(`#tbl_ttqh`).DataTable()
        })        
    </script>
{% endblock javascripts %}
